<div class="services-card">
  <div class="services-card__inner">
    <div class="services-card__left">
      <div class="services-card__description"></div>
      <div class="services-card__title"></div>
      <div class="services-card__text"></div>
    </div>
    <div class="services-card__right">
      <div class="services-card__image">
      </div>
    </div>
  </div>
</div>
