<div class="characteristics-table">
  <div class="characteristics-table__row">
    <div class="characteristics-table__col">
      <span class="characteristics-table__title">{{title}}</span>
    </div>
    <div class="characteristics-table__col">
      <span class="characteristics-table__description">
        {{description}}
      </span>
    </div>
    <div class="characteristics-table__hint">
      <p class="characteristics-table__hint-text"></p>
    </div>
  </div>
</div>
