<div class="press-card">
  <div class="press-card__inner">
    <a href="#" class="press-card__link"></a>
    <span class="press-card__title">{{title}}</span>
    <p class="press-card__text">{{text}}</p>
    <span class="press-card__date">{{date}}</span>
  </div>
</div>
