<div class="section">
  <div class="static">
    <div class="static__inner">
      <h2>The full cycle of aircraft construction - from design to takeoff</h2>

      <p>Scientific and Production Association "Aerovolga" was founded in 2002. <br>Location:
        Russia,
        Samara Region, Krasnoyarsk Territory. Its research and production base includes all the components necessary for
        modern aviation production, that is, a complete cycle of aircraft construction - from project development,
        product manufacturing, small aircraft testing and product sales.</p>

      <div class="section__row">
        {{>blocks/date-title title="2005 –"}}
        <div class="section__row-right">
          <p>
            The company Aerovolga NPO received the operator's certificate AON No. AON 1005009.
          </p>
        </div>
      </div>

      <i class="margin-20"></i>


      <div class="ceo-block">
        <div class="ceo-block__inner">
          <div class="ceo-block__image">
            {{>blocks/image-fit ext='png' img="factory/about"}}
          </div>
          <div class="ceo-block__name">
            <div class="ceo-block__name-inner">Alafinov Sergey, CEO</div>
          </div>
        </div>
      </div>

      <i class="margin-82"></i>

      {{>blocks/quote text="The dreams of flying became more accessible. We have created for you a plane, which is for you an indispensable assistant."}}

      <i class="margin-60"></i>

      <p>The scientific and production association "Aerovolga" is located: Russia, Samara
        region, Krasnoyarsk region. Its research and production base includes all the components necessary for
        modern
        aviation production, that is, a full cycle of aircraft construction - from the development of a project, the
        manufacture of a product, the testing of small aircraft and the sale of products.
      </p>

      <i class="margin-62"></i>
    </div>
  </div>


  {{>blocks/factory/about/components/aircraft-process}}
</div>
