<div class="section">
  <div class="container container--small">
    {{>blocks/section-title title="Our licenses for the following activities"}}

    <div class="slider js-certificate-slider">
      <div class="slider__inner">
        <div class="slider__left">
          <div class="slider__description js-certificate-slider__texts">
            <div class="slider__description-inner">
              <span class="slider__title">License № 3239-А-АТ-Р of&nbsp;14.12.2006.</span>
              <p class="slider__text">For the construction of aviation technologies, including aviation equipment of
                dual purpose. Type of activity: construction of civil aircraft (classes EKPS 1510)</p>
            </div>
            <div class="slider__description-inner">
              <span class="slider__title">2-License № 3239-А-АТ-Р of&nbsp;14.12.2006.</span>
              <p class="slider__text">For the construction of aviation technologies, including aviation equipment of
                dual purpose. Type of activity: construction of civil aircraft (classes EKPS 1510)</p>
            </div>
            <div class="slider__description-inner">
              <span class="slider__title">3-License № 3239-А-АТ-Р of&nbsp;14.12.2006.</span>
              <p class="slider__text">For the construction of aviation technologies, including aviation equipment of
                dual purpose. Type of activity: construction of civil aircraft (classes EKPS 1510)</p>
            </div>
            <div class="slider__description-inner">
              <span class="slider__title">4-License № 3239-А-АТ-Р of&nbsp;14.12.2006.</span>
              <p class="slider__text">For the construction of aviation technologies, including aviation equipment of
                dual purpose. Type of activity: construction of civil aircraft (classes EKPS 1510)</p>
            </div>
            <div class="slider__description-inner">
              <span class="slider__title">5-License № 3239-А-АТ-Р of&nbsp;14.12.2006.</span>
              <p class="slider__text">For the construction of aviation technologies, including aviation equipment of
                dual purpose. Type of activity: construction of civil aircraft (classes EKPS 1510)</p>
            </div>
          </div>
        </div>
        <div class="slider__right">
          <div class="swiper-container js-certificate-slider__row">
            <div class="swiper-wrapper">
              {{#times 5}}
                <div class="swiper-slide slider__item">
                  {{> components/image ext="png" img="factory/sertificat"}}
                </div>
              {{/times}}
            </div>
            <button class="slider__next">{{>ui/svg name="next-certificate"}}</button>
            <div class="slider-pagination">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
