<div class="factory-card__wrapper">
  {{>blocks/factory/components/factory-card link="#" title="History of the company" ext="png" img="factory/card/preview_1"}}
  {{>blocks/factory/components/factory-card link="#" title="Our mission" ext="png" img="factory/card/preview_1"}}
</div>
