.footer-bottom {
  margin-top: 150px;

  @include smallTablet-and-mobile {
    margin-top: 148px;
    padding: 0 8px;
  }

  @include mobile {
    margin-top: 76px;
    padding: 0;
  }

  &__inner {
    display: flex;
    @include fontGraphikRegular;
    @include mobile {
      display: block;
    }
  }

  &__left {
    flex: 1 1 1px;
    display: flex;
    color: #8E9598;
    @include mobile480 {
      display: block;
    }
  }

  &__copyright {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: #8E9598;
    @include mobile480 {
      display: block;
    }

    &:not(:first-child) {
      margin-left: 27px;
      padding-left: 32px;
      position: relative;
      @include tablet-and-mobile {
        margin-left: 20px;
        padding-left: 20px;
      }
      @include smallTablet-and-mobile {
        margin-left: 26px;
        padding-left: 34px;
      }
      @include mobile480 {
        margin: 5px 0 0;
        padding-left: 0;
      }

      &:before {
        content: '';
        position: absolute;
        width: 1px;
        left: 0;
        top: 3px;
        bottom: 0;
        background: #8E9598;
        @include mobile480 {
          display: none;
        }
      }
    }
  }

  &__right {
    flex: 1 1 1px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: #8E9598;
    @include tablet-and-mobile {
      display: flex;
      justify-content: flex-end;
    }

    @include smallTablet-and-mobile {
      flex: 0 0 175px
    }

    @include mobile {
      display: block;
      margin-top: 50px;
    }

    a {
      color: $color-white;

      &:hover {
        color: $grayish-blue;
      }
    }

  }
}
