.factory-nav {
  margin-bottom: 62px;
  padding: 7px 60px 3px;
  position: sticky;
  background: $color-white;
  top: 0;
  z-index: 20;

  &.fixed {
    box-shadow: 0 2px 15px rgba(18, 43, 54, 0.15);
  }

  @include tablet-and-mobile {
    padding: 0 30px;
  }
  @include smallTablet-and-mobile {
    top: 80px;
  }
  @include mobile {
    top: 50px;
    padding: 0 20px;
    margin-bottom: 52px;

    overflow-x: auto;
    @include hide-scrollbar;
  }

  &--anchor {
    margin-bottom: 48px;

    .factory-nav__menu-item {
      font-size: 20px;
      color: $color-blue-dark-100;
      @include desktop {
        &:hover {
          color: $color-gray-90;
        }
      }
    }
  }
  &--mb-small {
    margin-bottom: 52px;
  }

  &__menu {
    display: flex;

    &-item {
      position: relative;
      font-weight: 600;
      font-size: 18px;
      line-height: 44px;
      color: $color-gray-90;
      margin-right: 25px;
      padding-right: 15px;
      transition: all 0.3s linear;

      @include desktop {
        &:hover {
          color: $color-blue-dark-100;
        }
      }
      @include mobile {
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: $color-blue-dark-100;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -4px;
          height: 2px;
          width: 100%;
          background: $color-blue-dark-100;
          z-index: 4;
          transition: all 0.2s linear;

          @include tablet-and-mobile {
            bottom: -1px;
          }

          @include mobile {
            bottom: 0;
          }
        }
      }
    }

    &-link {

      &.active {
        color: $color-blue-dark-100;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -4px;
          height: 2px;
          width: 100%;
          background: $color-blue-dark-100;
          z-index: 4;
          transition: all 0.2s linear;

          @include smallTablet-and-mobile {
            bottom: -1px;
          }

          @include mobile {
            bottom: 0;
          }
        }
      }

      @include tablet-and-mobile {
        cursor: default;
      }
    }
  }
}
