.accordion {
  width: 100%;

  &__wrapper {
    margin-top: 22px;
    @include mobile {
      margin: 22px -20px 0;
    }
  }

  &--news {
    .accordion__top {
      position: sticky;
      top: 0;
      padding: 21px 20px;
      border: 1px solid $color-white;
      border-bottom: 1px solid $color-gray-60;
      background: $color-white;

      @include smallTablet-and-mobile {
        top: 80px;
      }
      @include mobile {
        top: 48px;
      }

      &:hover {
        background: $color-gray-20;
        border: 1px solid $color-gray-20;
        border-bottom: 1px solid $color-gray-60;
      }
    }

    .accordion__description {
      &-wrapper {
        min-height: 110px;
        padding-bottom: 0;
      }

      &-container {
        position: relative;
        padding: 64px 0 50px;
        margin-bottom: 0;
        @include mobile {
          padding: 30px 0;
        }
      }
    }

    .accordion__item {
      margin-bottom: 0;
      position: relative;

      &-wrapper {
        &.active {
          .accordion__top {
            border-color: $color-blue-dark-100;
          }
        }
      }
    }
  }

  &--vacancy {
    .accordion__top {
      position: sticky;
      top: 53px;
      padding: 21px 20px;
      border: 1px solid $color-white;
      border-bottom: 1px solid $color-gray-60;
      background: $color-white;

      @include tablet-and-mobile {
        top: 44px;
      }

      @include smallTablet-and-mobile {
        top: 124px;
      }
      @include mobile {
        top: 94px;
      }

      &:hover {
        background: $color-gray-20;
        border: 1px solid $color-gray-20;
        border-bottom: 1px solid $color-gray-60;
      }
    }

    .accordion__description {
      &-wrapper {
        min-height: 110px;
        padding-bottom: 0;
      }

      &-container {
        position: relative;
        padding: 64px 0 50px;
        margin-bottom: 0;
        @include mobile {
          padding: 30px 0;
        }
      }
    }

    .accordion__item {
      margin-bottom: 0;
      position: relative;

      &-wrapper {
        &.active {
          .accordion__top {
            border-color: $color-blue-dark-100;
          }
        }
      }
    }
  }

  &--characteristics {
    margin-top: 27px;

    .accordion__top {
      position: sticky;
      top: 0;

      @include tablet-and-mobile {
        top: 44px;
      }

      @include smallTablet-and-mobile {
        top: 124px;
      }
      @include mobile {
        top: 94px;
      }

      &:hover {
        background: $color-gray-20;
        border: 1px solid $color-gray-20;
      }
    }

    .accordion__description-container {
      padding: 0 0 10px;
    }

    .accordion__description-wrapper {
      padding-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-wrapper {
    &.active {
      .accordion__top {
        background: $color-blue-dark-100;
        box-shadow: 0px 2px 20px rgba(18, 43, 54, 0.2);
        &:hover {
          .accordion__pointer {
            opacity: 0.55;
          }
        }
      }

      .accordion__title {
        color: $color-white;
      }

      .accordion__pointer {
        &:before {
          @include sprite('accordion-close');
        }
      }

      .vacancy__col {
        color: $color-white;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 19px;
    border: 1px solid $color-gray-40;
    background: $color-gray-40;
    transition: all 0.3s linear;
    cursor: pointer;
    z-index: 10;

    @include mobile {
      padding: 10px 15px;
    }

    &:hover {
      border: 1px solid $color-blue-dark-100;
    }

  }

  &__title {
    @include section_text_18;
    transition: all 0.3s linear;
  }

  &__pointer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include sprite('accordion-arrow');
      transition: all 0.3s ease-in-out;
    }
  }

  &__description {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;

    &-wrapper {
      padding-bottom: 35px;
      @include mobile {
        padding-bottom: 10px;
      }
    }

    &-container {
      padding: 50px 0 49px;
      border-bottom: 2px solid $color-blue-dark-100;


      @include mobile {
        padding: 20px 0;
        margin-bottom: 10px;
      }
    }
  }
}
