.content__wrapper {
  padding: 70px 0 130px;
  margin: 0 auto;
  position: relative;

  @include tablet-and-mobile {
    padding: 50px 0 100px;
  }
  @include mobile {
    padding: 30px 0 70px;
  }

  &--small {
    padding: 40px 0;
  }

  &--middle {
    padding: 41px 0 130px;
    @include tablet-and-mobile {
      padding: 40px 0 100px;
    }
    @include mobile {
      padding: 30px 0 70px;
    }
  }

  &--contact {
    padding: 49px 0 130px;
    @include tablet-and-mobile {
      padding: 40px 0 100px;
    }
    @include mobile {
      padding: 30px 0 70px;
    }
  }

  &--big {
    padding: 100px 0 140px;

    @include tablet-and-mobile {
      padding: 70px 0 110px;
    }
    @include mobile {
      padding: 60px 0 100px;
    }
  }
}
