.container {
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;

  @include tablet-and-mobile {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 20px;
  }

  &--small {
    max-width: 720px;
    padding: 0;
    width: 100%;

    @include mobile {
      //padding: 0 20px;
    }
  }

  &--strict {
    max-width: 1200px;
  }

  &--footer {
    max-width: 1200px;
    @include tablet-and-mobile {
      padding: 0 70px 0 60px;
    }
    @include mobile {
      padding: 0 30px;
    }
  }
}
