.date-title {
  position: relative;
  @include fontDrukWideMedium;
  font-size: 34px;
  line-height: 40px;
  color: $color-blue-dark-80;

  @include mobile480 {
    font-size: 28px;
    line-height: 32px;
  }
  @include mobile320 {
    font-size: 24px;
    line-height: 28px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    background: $color-gray-40;
    z-index: -1;

    @include tablet-and-mobile {
      left: -20px;
      transform: translate(0, -50%);
    }
    @include mobile {
      left: -10px;
    }
  }

  &__wrapper {
    display: flex;

    &--center {
      justify-content: center;
    }
  }
}
