blockquote {
  max-width: 720px;
  margin: 0 auto 50px;
  padding: 50px 0;

  position: relative;
  border-top: 1px solid rgba(159, 166, 169, 0.3);
  border-bottom: 1px solid rgba(159, 166, 169, 0.3);

  @include mobile {
    padding: 40px 0 25px;
  }

  &:before {
    position: absolute;
    content: '';
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include sprite('apostrophe');
  }

  &:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 10px;
    background: $color-white;
    @include mobile {
      width: 200px;
    }
  }


  p {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 30px !important;
    text-align: center;
    color: $color-green-dark-80;
  }
}
