.section__title {
  @include section_title;

  &--small {
    @include fontSourceSansSemiBold;
    font-weight: 600;
    font-size: 20px;
    line-height: 44px;
    &.section__title--with-divider {
      padding-bottom: 4px;
    }
  }

  &--with-divider {
    position: relative;
    padding-bottom: 16px;
    &:before {
      position: absolute;
      content: '';
      width: 40px;
      height: 2px;
      left: 0;
      bottom: 0;
      background: $color-green-dark-100;
    }
  }
}
