<div class="image-with-content">
  <div class="image-with-content__row {{#if reverse}}image-with-content__row--reverse{{/if}}">
    <div class="image-with-content__image">
      {{>components/image ext="png" img="news/news-single/image-with-content"}}
    </div>
    <div class="image-with-content__content">
      <span class="image-with-content__title">{{title}}</span>
      <p class="image-with-content__text">{{text}}</p>
    </div>
  </div>
</div>
