<div class="page-breadcrumbs">
  <div class="page-breadcrumbs__container">
    <ul class="page-breadcrumbs__list">
      <li class="page-breadcrumbs__item">
        <a class="page-breadcrumbs__link" href="#">Home</a>
      </li>
      {{#if label}}
        <li class="page-breadcrumbs__item">
          <a class="page-breadcrumbs__link" href="{{href}}">{{label}}</a>
        </li>
      {{/if}}
    </ul>
  </div>
</div>
