<div class="stats-card">
  <div class="stats-card__inner">
    <div class="stats-card__icon">{{>ui/svg name=icon}}</div>
    <div class="stats-card__description">
      <span class="stats-card__title">{{title}}</span>
      <p class="stats-card__text">{{text}}</p>
    </div>
  </div>
</div>
