<div class="title-with-description">
  <div class="title-with-description__row">
    <div class="title-with-description__title">
      {{>blocks/section-title title=title}}
    </div>
    <div class="title-with-description__content">
      {{> @partial-block }}
    </div>
  </div>
</div>
