<div class="video-block js-video-block" data-video="{{video}}">
  <div class="video-block__inner">

    {{>components/image ext=ext img=img}}
    <div class="video-block__play">
      {{>ui/svg name="play"}}
    </div>

    {{#if video}}
      <iframe
        frameborder="0"
        allow="accelerometer; fullscreen, autoplay"
      ></iframe>
    {{/if}}
  </div>
</div>
