<div class="factory-card">
  <a href="{{link}}" class="factory-card__link"></a>
  <div class="factory-card__background js-image-loading">
    {{>components/image
      img=img
      ext=ext
    }}
  </div>
  <div class="factory-card__content">
    <span class="factory-card__title">{{title}}</span>
    <div class="btn__link btn__link--secondary"></div>
  </div>
</div>
