.aircrafts {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
      justify-content: center;
    }
  }

  &-card {
    position: relative;
    max-width: 455px;
    flex: 1 1 50%;

    &:nth-child(n+3) {
      margin-top: 20px;
    }

    @include mobile {
      flex: 1 1 55%;
      &:nth-child(n+2) {
        margin-top: 30px;
      }
    }

  @include no-smallTablet {
    &:hover {
      .btn__link:before {
        transform: translate(10px, -50%);
      }
    }
  }


    &__btn {
      position: absolute;
      bottom: 20px;
      right: 56px;
    }

    &__link {
      @include fill();
      z-index: 2;
    }

    &__inner {
      padding: 30px 0;

      &:before {
        @include fill();
        content: '';
        left: 56px;
        right: 36px;
        width: auto;
        background: $color-gray-40;
        z-index: -1;

        @include mobile480 {
          left: 36px;
          right: 16px;
        }
      }
    }

    &__model {
      display: block;
      margin-bottom: 7.6px;
      @include section_caption;
    }

    &__name {
      display: block;
      @include section_title;
    }

    &__characteristics {
      margin: 26px 0 0 82px;

      @include mobile320 {
        margin: 26px 0 0 55px;
      }

      &-item {
        position: relative;
        padding-left: 10px;
        @include section_caption_text;
        color: $color-blue-dark-80;

        &:before {
          position: absolute;
          content: '-';
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }

    &__image {
      @include fill();

      &-wrapper {
        margin-top: 32px;
        width: 100%;
        padding-bottom: 61.5%;
        position: relative;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }
}

