.aircrafts {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-card {
    position: relative;
    max-width: 455px;
    flex: 1 1 455px;

    &:hover {
      .btn__link:before {
        transform: translate(10px, -50%);
      }
    }

    &__btn {
      position: absolute;
      bottom: 20px;
      right: 56px;
    }

    &__link {
      @include fill();
      z-index: 2;
    }

    &__inner {
      padding: 30px 0;

      &:before {
        @include fill();
        content: '';
        left: 56px;
        right: 36px;
        width: auto;
        background: $color-gray-40;
        z-index: -1;
      }
    }

    &__model {
      @include fontGraphikRegular;
      display: block;
      margin-bottom: 7.6px;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1.71429px;
      text-transform: uppercase;
      color: $color-blue-dark-80;
    }

    &__name {
      @include fontDrukWideMedium;
      display: block;
      font-size: 34px;
      line-height: 40px;
      color: $color-blue-dark-80;
    }

    &__characteristics {
      margin: 26px 0 0 82px;

      &-item {
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: $color-blue-dark-80;
        position: relative;
        padding-left: 10px;

        &:before {
          position: absolute;
          content: '-';
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }

    &__image {
      @include fill();

      &-wrapper {
        margin-top: 32px;
        width: 100%;
        padding-bottom: 61.5%;
        position: relative;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }
}

