.map-label {
  display: flex;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }

  &--blue {
    .map-label__pointer {
      background: $color-blue-90;
    }
  }

  &--red {
    .map-label__pointer {
      background: $color-red100;
    }
  }

  &__left {
    margin-right: 13px;
    padding-top: 13px;

    @include tablet-and-mobile {
      margin-right: 10px;
      padding-top: 10px;
    }
  }

  &__right {
    max-width: 280px;
    color: #102029;
  }

  &__pointer {
    display: block;
    width: 30px;
    height: 2px;
    background: $color-blue-90;

    @include tablet-and-mobile {
      width: 20px;
    }
  }

  &__title {
    display: block;
    margin-bottom: -2px;

    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    @include tablet-and-mobile {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: -6px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    @include tablet-and-mobile {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
