<div class="news-block">
  <div class="news-block__inner">
    <span class="news-block__title">{{title}}</span>
    <div class="news-block__content">
      {{> @partial-block }}
    </div>
  </div>
</div>
