<nav class="factory-nav">
  <ul class="factory-nav__menu">
    {{#each factory-navbar}}
      <li class="factory-nav__menu-item {{#ifCond label ../active-page}}active{{/ifCond}}">
        <a href="{{url}}" class="factory-nav__menu-link">{{label}}</a>
      </li>
    {{/each}}
  </ul>
</nav>
