// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-primary: #061F2A;
$color-secondary: #FD5800;
$color-primary-variant: #00b763;
$color-error: #FF0000;

// Blue-Dark
$color-blue-dark-120: #112B37;
$color-blue-dark-100: #122B36;
$color-blue-dark-80: #102029;
$color-blue-dark-70: #08171F;

// Blue-Light
$color-blue-light: #495860;

// Blue
$color-blue-100: #0038D7;
$color-blue-80: #0042FF;
$color-blue-70: #1B74FD;

// Gray
$color-gray-100: #9FA6A9;
$color-gray-90: #8E9599;
$color-gray-80: #8E9598;
$color-gray-60: #E2E4E5;
$color-gray-40: #F0F4F6;
$color-gray-20: #F7F9FA;
$color-gray-10: #CFCFCF;


