.news-block {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $color-green-dark-80;
  }

  &__content {
    margin-top: 26.4px;
  }
}
