.news-single {
  &__content {
    position: relative;
    padding-bottom: 45px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 720px;
      height: 2px;
      background: $color-blue-dark-100;
      @include mobile {
        width: 100%;
      }
    }
  }

  &__date {
    transform: rotate(90deg);
    transform-origin: 0 100%;
    position: absolute;
    top: -8px;
    left: -1px;

    @include tablet-and-mobile {
      transform: rotate(0);
      position: static;
      margin-bottom: 30px;
    }

    &-inner {
      display: block;
      transform: rotate(180deg);
      @include fontGraphikRegular;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1.71429px;
      text-transform: uppercase;
      color: $color-gray-90;
      @include tablet-and-mobile {
        transform: rotate(0);
      }
    }
  }

  &__container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
  }

  &__subtitle {
    margin: 50px 0 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: $color-blue-dark-80;
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    color: $color-blue-dark-80;

    &-wrapper {
      margin-bottom: 58px;
    }

    &--small {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 10px;

      &.news-single__text-wrapper {
        margin-bottom: 45.6px;
      }
    }

    .underline {
      text-decoration: underline;
    }

    .line-through {
      text-decoration: line-through;
    }
  }

  &__bottom {
    margin-top: 100px;
    position: relative;
    @include tablet-and-mobile {
      margin-top: 80px;
    }
    @include mobile {
      margin-top: 40px;
    }

    &-btn {
      position: absolute;
      top: 0;
      left: 60px;
      @media (max-width: 1300px) {
        left: 40px;
      }
      @include tablet-and-mobile {
        top: 15px;
        left: 30px;
      }
      @include mobile {
        top: 90px;
        left: 20px;
      }

      .btn__link {
        transform: rotate(-180deg);
        display: block;
      }

      &:hover {
        .btn__link:before {
          transform: translate(10px, -50%);
        }
      }
    }
  }

  &__slider {
    .gallery-slider__next, .gallery-slider__prev {
      &.swiper-button-disabled {
        opacity: 0 !important;
        cursor: default;
      }
    }
  }

  &__image-with-content {
    .image-with-content:last-child {
      margin-bottom: 0;
    }
  }
}
