{{#> popups/_base id=id}}
  <div class="popup-content__container">
    <div class="popup-content__top">
      <div class="popup-content__title">Apply for job</div>
    </div>
    <div class="popup-content__bottom">
      <form autocomplete="off" class="popup-content__form popup-form">
        <div class="popup-content__section">
          <span class="popup-form__section-title">Your data</span>
          <div class="popup-form__section-content">
            <div class="popup-form__row">
              <div class="popup-form__col">
                {{> form/input label="Name" placeholder="Подсказка"}}
              </div>
              <div class="popup-form__col">
                {{> form/input label="Surname" placeholder="Подсказка"}}
              </div>
            </div>
            <div class="popup-form__row">
              <div class="popup-form__col">
                {{> form/input label="Phone" placeholder="Подсказка" decimal=true}}
              </div>
              <div class="popup-form__col">
                {{> form/input label="Email" type="email" placeholder="Подсказка"}}
              </div>
            </div>
            <div class="popup-form__row">
              {{> form/input label="Message" placeholder="Подсказка"}}
            </div>
          </div>
        </div>
        <div class="popup-form__bottom popup-form__bottom--reverse">
          {{>ui/btn button=true type="submit" color="primary" label="Send  message"}}
        </div>
      </form>
    </div>
  </div>
{{/ popups/_base}}
