{{#> popups/_base id=id}}
  <div class="popup-content__container">
    <div class="popup-content__top">
      <div class="popup-content__title">Thank you!</div>
    </div>
    <div class="popup-content__bottom popup-content__bottom--center">
      <p class="popup-content__text">
        Within 2 hours, our staff will contact you and you will receive an answer to all your questions.
      </p>
    </div>
  </div>
{{/ popups/_base}}
