{{#> popups/_base id=id}}
  <div class="popup-content__container">
    <div class="popup-content__top">
      <div class="popup-content__title">Thank you!</div>
    </div>
    <div class="popup-content__bottom popup-content__bottom--center">
      <p class="popup-content__text">
        Your application for registration of a personal account has been sent.
      </p>
      <p class="popup-content__subtext">
        Within 24 hours you will receive a letter with information about registering with the mail you specified.
      </p>
    </div>
  </div>
{{/ popups/_base}}
