<div class="history-section">
  {{>blocks/date-title title="2004" center=true}}
  <div class="history-section__inner">
    <div class="history-section__row">
      {{>blocks/factory/history/components/history-card
        date="15 November 2004"
        title="First prototype"
        text="In 2004, the test pilot M.M. Emanov flew with the first prototype."
        ext="png"
        img="history/history_1"
        description="LA-8 first prototype"
      }}
      {{>blocks/factory/history/components/history-card
        reverse=true
        date="25 November 2004"
        title="New prototype"
        text="In 2004, the test pilot M.M. Emanov flew with the new prototype."
        ext="png"
        img="history/history_2"
        description="LA-8 new prototype"
      }}
    </div>
  </div>
</div>
