<div class="history-section">
  {{>blocks/date-title title="2005" center=true}}
  <div class="history-section__inner">
    <div class="history-section__row">
      {{>blocks/factory/history/components/history-card
        date="15 september 2005"
        title="New modification"
        text="In 2006, the most promising modification of the 37-series engine: the M-337C with power increased by 25%, with an increased life-time by 20% and with a 15% reduction in specific fuel consumption was installed on the LA-8."
        ext="png"
        img="history/history_3"
        description="Modification of the 37-series"
      }}

      {{>blocks/factory/history/components/history-card
        date="20 November 2005"
        title="New design"
        text="The design of the aircraft was changed accordingly."
        ext="png"
        img="history/history_4"
        description="New design LA-8"
        reverse=true
      }}
    </div>
  </div>
</div>
