<div class="history-section">
  {{>blocks/date-title title="2007" center=true}}
  <div class="history-section__inner">
    <div class="history-section__row">
      {{>blocks/factory/history/components/history-card
        date="11 octobet 2007"
        title="First stage"
        text="At the end of 2007, at the first stage of the airfield and production complex near the village of Krasny Yar, Samara region, 30 km. from Samara."
        ext="png"
        img="history/history_5"
        description="First stage of the airfield"
      }}
      {{>blocks/factory/history/components/history-card
        reverse=true
        date="17 November 2007"
        title="A complete course"
        text="A complete course in the production of aviation technology - from design and research to testing, including flight testing and maintenance."
        ext="png"
        img="history/history_6"
        description="A complete course in the production"
      }}
      {{>blocks/factory/history/components/history-card
        date="11 octobet 2007"
        title="The capacity"
        text="The capacity of the first stage is up to 15 aircraft per year, the total capacity (the second and third stages) - up to 100 aircraft per year. The presence of own airfield facilitates flight tests."
        ext="png"
        img="history/history_7"
        description="Flight tests"
      }}
      {{>blocks/factory/history/components/history-card
        reverse=true
        date="17 November 2007"
        title="New design 2007"
        text="The design of the aircraft was changed accordingly."
        ext="png"
        img="history/history_4"
        description="New design LA-8"
      }}
    </div>
  </div>
</div>
