<div class="history-section">
  {{>blocks/date-title title="2008" center=true}}
  <div class="history-section__inner">
    <div class="history-section__left">
      {{>blocks/factory/history/components/history-card
        date="15 November 2008"
        title="New engine integration"
        text="In 2008, the engine Lycoming 540 (235 bp) was integrated. Currently, special versions of the LA-8 are being developed: sanitary, transport, air, administrative. An anti-axial system is constructed."
        ext="png"
        img="history/history_8"
        description="Lycoming 540 (235 bp)"
      }}
    </div>
  </div>
</div>
