<div class="factory-card__wrapper">
  {{>blocks/factory/components/factory-card link="#" title="Our mission" ext="png" img="factory/card/mission"}}
  {{>blocks/factory/components/factory-card link="./factory-careers.html" title="Vacancy" ext="png" img="factory/card/vacancy"}}
</div>
