<div class="factory-card">
  <a href="{{link}}" class="factory-card__link"></a>
  <div class="factory-card__background">
    {{>components/image
      img=img
      ext=ext
    }}
  </div>
  <div class="factory-card__content">
    <span class="factory-card__title">{{title}}</span>
  </div>
</div>
