.factory-card {
  flex: 1 1 50%;
  max-width: 50%;
  height: 300px;
  position: relative;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.08) translate3d(0,0,0);
    }
  }

  &__wrapper {
    display: flex;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__background {
    @include fill();
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: transform;
      transition: all 0.3s linear;
    }
  }

  &__content {
    height: 100%;
    padding: 40px 30px;
    display: flex;
    align-items: flex-end;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $color-white;
  }
}
