<div class="contacts-form">
  <div class="contacts-form__inner">

    <div class="contacts-form__field">
      {{> form/input label="Name" placeholder="Подсказка"}}
    </div>
    <div class="contacts-form__field">
      {{> form/input label="Phone" placeholder="Подсказка"}}
    </div>
    <div class="contacts-form__field">
      {{> form/input label="Message" placeholder="Подсказка"}}
    </div>

    <div class="contacts-form__submit">
      {{>ui/btn button=true type="submit" size="large" label="Send message" color="primary" w-100=true}}
    </div>
  </div>
</div>
