.popup-content {
  &__container {
    max-width: 480px;
    width: 100%;

    margin: 0 auto;
  }

  &__title {
    position: relative;
    padding: 13.6px 0 0 29px;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: $color-green-dark-100;
    z-index: 2;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background: $color-gray-40;
      z-index: -1;
    }
  }

  &__bottom {
    margin-top: 126px;
  }
}
