<div class="hero {{#if hero-small}}hero--small{{/if}}">
  <div class="hero__background">
    {{> components/image
      img=img
      ext=ext
    }}
  </div>
  <div class="hero__inner">
    <div class="container">
      <div class="hero__content">
        {{>blocks/page-breadcrumbs label=label href=href}}
        <h1 class="hero__title">{{title}}</h1>
      </div>
    </div>
  </div>
</div>
