<div class="management-contacts">
  <div class="management-contacts__top">
    <div class="management-contacts__person">
      <span class="management-contacts__name">{{name}},</span>
      <span class="management-contacts__position">{{position}}</span>
    </div>
  </div>
  <div class="management-contacts__bottom">
    <div class="management-contacts__item">
      <div class="management-contacts__item-left">
        <div class="management-contacts__item-title">{{title}}:</div>
      </div>
      <div class="management-contacts__item-right">
      </div>
    </div>
  </div>
</div>
