<ul class="gallery1 js-light-gallery">
  {{#times 7}}
      <li class="gallery1__cell" data-src="../assets/images/gallery-single/photosession.png" data-sub-html="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</div>" data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1">
          <a href="">
            {{> components/image
                img='gallery-single/photosession'
                ext='png'
                class='img-responsive'
            }}
          </a>
      </li>
  {{/times}}
</ul>