<div class="gallery">
  {{#times 7}}
    <div class="gallery__cell">
      <div class="gallery__item">
        {{> components/image
          img='gallery-single/photosession'
          ext='png'
        }}
      </div>
    </div>
  {{/times}}
</div>
