</main>

<footer class="footer page__footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__inner">
        <div class="footer-top__left">
          <ul class="footer-top__nav">
            <li class="footer-top__nav-item"><a href="#" class="footer-top__nav-link">Home</a></li>
            <li class="footer-top__nav-item"><a href="#" class="footer-top__nav-link">Gallery</a></li>
            <li class="footer-top__nav-item"><a href="#" class="footer-top__nav-link">Downloads</a></li>
            <li class="footer-top__nav-item"><a href="#" class="footer-top__nav-link">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-top__right">

        </div>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-bottom">
      <div class="footer-bottom__inner">
        <div class="footer-bottom__left">
          <span class="footer-bottom__copyright">© 2006–2017</span>
          <span class="footer-bottom__copyright">LLC «NPO «AeroVolga»</span>
        </div>
        <div class="footer-bottom__right">
          <span class="footer-bottom__author">website by <a href="#">FLEX.MEDIA</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>

</div>

{{> layout/bottom}}
