<div class="form-custom-select {{#if multiple-search}}form-select--multiple-search{{/if}}">
  <select class="js-custom-select js-aircraft-map__select visually-hidden" {{#if placeholder}}data-placeholder="{{placeholder}}"{{/if}}
    {{#if search}}data-search="1"{{/if}} {{#if multiple-search}}multiple="multiple"{{/if}}>
    {{> @partial-block}}
  </select>
</div>
