<div class="form-select js-select">
  <div class="form-select__select" data-state="">
    <div class="form-select__select-title">{{default}}</div>
    <div class="form-select__select-content">
      <input id="singleSelect0" class="form-select__select-input" type="radio" />
      {{> @partial-block}}
    </div>
  </div>
</div>
