.footer {
  background: $color-primary;
  color: $color-white;
  margin-left: 240px;
  @include smallTablet-and-mobile {
    margin-left: 0px;
  }

  //Modifiers
  &--home {
    margin-left: 360px;
    @include smallTablet-and-mobile {
      margin-left: 0px;
    }
  }
}




