.header {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  z-index: 100;
  background: $color-primary;

  @include smallTablet-and-mobile {
    top: 0;
    width: 100vw;
    max-height: 80px;
    min-height: 80px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;

    &.fixed {
      .header-main {
        transition: 0.1s linear;
        background: $color-blue-dark-100;
      }
    }

    &.active {
      max-height: 100vh;

      .header-nav, .header-brand {
        transform: translateX(0);
      }

      .header-main {
        transition: 0s linear;
        background: $color-white !important;
      }
    }
  }

  @include mobile {
    max-height: 50px;
    min-height: 50px;
  }

  //Modifiers
  &--home {
    width: 360px;
    @include smallTablet-and-mobile {
      width: 100vw;
    }
  }
}

@keyframes mobile-hidden {
  0% {
    max-height: 100vh;
  }
  60% {
    max-height: 100vh;
  }
  100% {
    max-height: 80px;
  }
}
