.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  z-index: 100;

  background: $color-primary;
  @include smallTablet-and-mobile {
    position: static;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}
