.page {
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }

  &__header {
    position: relative;
  }

  &__content {
    position: relative;
    flex: 1 0 auto;
    min-height: 1px;
    margin-left: 240px;
    background: #ffffff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;

    @include smallTablet-and-mobile {
      margin-left: 0;
    }

    &--home {
      margin-left: 360px;

      @include smallTablet-and-mobile {
        margin-left: 0;
      }
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}
