<div class="company-contacts">
  <div class="company-contacts__left">
    <div class="company-contacts__phones">
        {{>blocks/contact/phone phone="+7 (985) 773 97 96" link="+79857739796"}}
    </div>
    <div class="company-contacts__emails">
      {{>blocks/contact/mail mail="aerovolga@gmail.com"}}
    </div>
  </div>
  <div class="company-contacts__right">
    <div class="company-contacts__address">
      {{>blocks/contact/address address="«Aerovolga» ab, 17 Krasnyi Yar, 446370, Samara region, Russia"}}
    </div>
  </div>
</div>
