.content__wrapper {
  max-width: 1200px;
  padding: 70px 0 130px;
  margin: 0 auto;
  position: relative;

  @include tablet-and-mobile {
    padding: 50px 0 100px;
  }

  &--small {
    padding: 40px 0;
  }
  &--big {
    padding: 100px 0 140px;
  }
}
