.factory-about {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex: 1 1 312px;
    max-width: 312px;
    display: flex;

    &:nth-child(n+4) {
      margin-top: 40px;
    }

    &-left {
      flex: 1 1 100px;
      max-width: 100px;
      height: 100px;

      svg {
        width: 100px;
        height: 100px;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      margin-left: 15px;
    }
    &-text {
      font-weight: 600;
      font-size: 18px;
      line-height: 44px;
      color: $color-blue-dark-80;
    }
  }
}
