.gallery-card {
  position: relative;
  margin-top: 70px;

  &:hover {
    .btn__link:before {
      transform: translate(10px, -50%);
    }
  }

  @include mobile {
    margin-top: 40px;
  }


  &:first-child {
    margin-top: 0;
  }

  &__link {
    @include fill();
    z-index: 1;
  }

  &__inner {
    position: relative;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

    @include big-tablet {
      display: block;
    }
    @include smallTablet-and-mobile {
      padding: 0;
    }
    @include mobile {
      display: block;
    }
  }

  &__description {
    position: relative;
    width: 180px;
    height: 380px;
    background: $color-gray-40;

    @include big-tablet {
      max-width: 720px;
      width: 50vw;
      height: auto;
      margin: 0 auto;
    }
    @include smallTablet-and-mobile {
      height: 340px;
    }

    @include mobile {
      width: 100%;
      height: auto;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 180px;
      width: 380px;
      padding: 34px 37px;

      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%) rotate(-90deg);
      transform-origin: 0 0;

      @include big-tablet {
        position: static;
        transform: translateY(0) rotate(0deg);
      }
      @include smallTablet-and-mobile {
        padding: 34px 37px 50px;
        width: 340px;
      }

      @include mobile {
        position: static;
        transform: translateY(0) rotate(0);
        padding: 20px 37px;
        height: auto;
      }
    }
  }

  &__category {
    display: block;
    @include fontGraphikRegular;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: $color-gray-80;
  }

  &__title {
    display: block;
    margin-top: 5px;
    @include fontDrukWideMedium;
    font-size: 34px;
    line-height: 40px;
    @include mobile {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__substrate {
    max-height: 380px;
    width: 180px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include big-tablet {
      max-width: 720px;
      width: 50vw;
      max-height: 420px;
      position: relative;

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: 66.66%;
      }

      img {
        @include fill();
      }
    }
    @include smallTablet-and-mobile {
      display: none;
    }
  }

  &__top-layer {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 720px;
    width: 50vw;
    @include big-tablet {
      left: 67%;
      top: 230px;
      transform: translate(-50%, 0);
    }

    @include smallTablet-and-mobile {
      position: static;
      max-width: 100%;
      width: 100%;
      transform: translate(0, 0);

      .image-fit {
        margin-bottom: 0;
      }

      img {
        max-height: 340px;
      }
    }
  }

  &__btn {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);

    @include tablet-and-mobile {
      display: none;
    }
  }
}
