.list {

  &__item {
    font-size: 16px;
    line-height: 28px;
    color: $color-blue-dark-80;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &-pointer {
      display: inline-block;
      position: relative;
    }
  }

  &--decimal {
    counter-reset: list;

    .list__item-pointer {
      width: 20px;

      &:before {
        position: relative;
        left: 2px;
        counter-increment: list;
        content: counter(list) ". ";
      }
    }
  }

  &--disc {
    .list__item-pointer {
      width: 13px;
      height: 10px;

      &:before {
        position: absolute;
        content: '';
        left: 5px;
        top: 65%;
        transform: translate(-50%, -50%);

        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $color-blue-dark-80;
      }
    }
  }

  &--tick {
    .list__item {
      margin-bottom: 16px;
      padding-left: 50px;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      position: relative;

      @include mobile {
        padding-left: 33px;
      }

      &:before {
        position: absolute;
        content: '';
        top: 3px;
        left: -1px;
        @include sprite('tick');

        @include tablet-and-mobile {
          top: 0;
        }
        @include mobile {
          top: 6px;
          @include sprite('tick-small');
        }
      }
    }
  }
}
