.margin-20 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.margin-46 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 46px;
}

.margin-50 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

.margin-52 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 52px;
}

.margin-54 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 54px;
}

.margin-56 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 56px;
}

.margin-58 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 58px;
}

.margin-60 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.margin-62 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 62px;
}

.margin-80 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 80px;
}

.margin-82 {
  height: 0;
  display: block;
  width: 100%;
  margin-bottom: 82px;
}
