.transition {
  position: fixed;
  z-index: 99999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 240px);
  height: 100vh;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;

  @include mobile {
    width: 100%;
  }

  &--home {
    width: calc(100% - 360px);
  }
}

.transition li {
  width: 20%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: #fff;
}