.section {
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 56px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    &-right {
      max-width: 480px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: $color-blue-dark-80;
    &-wrapper {
      margin-bottom: 40px;
    }
  }


  &__text {
    font-size: 18px;
    line-height: 32px;
    color: $color-blue-dark-80;

    &-wrapper {
      margin-bottom: 50px;
    }

    &--small {
      font-size: 16px;
      line-height: 28px;

      &.section__text-wrapper {
        margin-bottom: 45.6px;
      }
    }
  }
}
