.static {
  h1 {
    @include section_title;
  }

  h2 {
    margin: 50px 0 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: $color-green-dark-80;

    @include tablet-and-mobile {
      margin: 36px 0 20px;
    }
    @include mobile480 {
      margin: 20px 0 15px;
    }
    @include mobile480 {
      line-height: 34px;
    }
  }

  p {
    margin: 0 0 50px;
    font-size: 18px;
    line-height: 32px;
    color: $color-green-dark-80;

    @include mobile {
      margin-bottom: 25px;
    }

    a {
      font-weight: 600;
      text-decoration: underline;
      transition: all 0.3s linear;

      @include desktop {
        &:hover {
          color: $grayish-blue;
        }
      }
    }

    &.small {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }

  h4 {
    margin: 46px 0 26.4px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $color-green-dark-80;

    @include mobile {
      margin: 36px 0 25px;
    }

    &:first-child {
      margin-top: 0 !important;
    }
  }

  ol {
    counter-reset: list;

    li {
      font-size: 16px;
      line-height: 28px;
      color: $color-green-dark-80;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        display: inline-block;
        position: relative;
        width: 20px;

        &:before {
          position: relative;
          left: 2px;
          counter-increment: list;
          content: counter(list) ". ";
        }
      }
    }
  }

  ul {
    li {
      font-size: 16px;
      line-height: 28px;
      color: $color-green-dark-80;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        display: inline-block;
        position: relative;
        width: 13px;
        height: 10px;

        &:before {
          position: absolute;
          content: '';
          left: 5px;
          top: 65%;
          transform: translate(-50%, -50%);

          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: $color-green-dark-80;
        }
      }
    }
  }

  ol + p, ul + p {
    margin-top: 50px;
    @include mobile {
      margin-top: 25px;
    }
  }

  table {
    display: block;
    margin: 50px -60px;
    padding: 0 60px;

    overflow-x: auto;
    @include hide-scrollbar;

    @include tablet-and-mobile {
      width: auto;
      margin: 50px -30px;
      padding: 0 30px;
    }
    @include mobile {
      margin: 25px -20px;
      padding: 0;
    }

    thead {
      tr {
        padding: 26px 23px 28px;
        background: $color-gray-40;
        border-bottom: none;

        @include mobile {
          padding: 14px 23px 16px;
        }

        th {
          font-weight: normal;
          font-size: 18px;
          line-height: 32px;
          color: $color-green-dark-80 !important;
        }
      }
    }

    tr {
      width: 1080px;
      display: flex;
      padding: 14px 23px 12px;
      border-bottom: 1px solid $color-gray-60;

      font-weight: 600;
      font-size: 18px;
      line-height: 44px;
      color: $color-green-dark-80;
    }

    td, th {
      display: flex;
      align-items: center;
      margin-right: 45px;
      flex: 1 1 1px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .accordion__wrapper {
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 25px;
    }
  }

  .image-fit {
    margin: 0 0 50px;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__inner {

    h2 {
      max-width: 720px;
      margin: 50px auto 40px;

      @include tablet-and-mobile {
        margin: 36px auto 20px;
      }
      @include mobile480 {
        margin: 20px auto 15px;
      }
    }

    p {
      max-width: 720px;
      margin: 0 auto 50px;

      @include mobile {
        margin-bottom: 25px;
      }
    }

    h4 {
      max-width: 720px;
      margin: 46px auto 26.4px;

      @include mobile {
        margin: 36px auto 25px;
      }

      &:first-child {
        margin-top: 0 !important;
      }
    }

    h1 {
      max-width: 720px;
      margin: 0 auto;
    }

    ol, ul {
      max-width: 720px;
      margin: 0 auto;
    }

    .image-fit {
      max-width: 720px;
      margin: 0 auto 50px;

      @include mobile {
        margin-bottom: 40px;
      }
    }
  }
}
