.title-with-description {
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    flex: 1 1 420px;
    max-width: 420px;
  }

  &__content {
    flex: 1 1 540px;
    max-width: 540px;
  }
}
