{{!404}}

{{> layout/head page-title="404"}}

{{> layout/header page-namespace="404" }}

{{>blocks/hero/hero hero-small=true title="404" img="404/hero-bg" ext="png"}}

<div class="content__wrapper content__wrapper--big">
  <div class="container container--small">
    {{>blocks/404/01_content}}
  </div>
</div>

{{> layout/footer }}
