{{!News}}

{{> layout/head page-title="News"}}

{{> layout/header page-namespace="news" header-active="Media center"}}

{{>blocks/hero/hero title="Media center" img="/news/news-list/hero/hero-bg" ext="png"}}

<div class="content__wrapper content__wrapper--middle">
  {{>blocks/factory/components/factory-nav navbar=news-navbar active-page="News" mb-small=true}}

  <div class="container container--strict">
    <div class="news-cards__wrapper js-card-add">
      <div class="news-cards">
        {{#times 10}}
          {{>blocks/news/news-card
            date="November 2017"
            title="New feature of our EDM for turbo-propeller engine PBS TP100"
            text="Long-term cooperation between our company and PBS, the Czech manufacturer of turbo-propeller..."
            link="#"
            img="news/news-list/news_1"
            ext="png"
            list-more=true
          }}

          {{>blocks/news/news-card
            date="September 2017"
            title="Delivery LA-8C"
            text="In February 2017, delivered buyer amphibian LA-8C, serial number 0112"
            link="#"
            img="news/news-list/news_2"
            ext="png"
            list-more=true
          }}

          {{>blocks/news/news-card
            date="May 2017"
            title="New LA-8C"
            text="May 12, 2017 regular LA-8C, serial number 009 delivered to the customer to work in the Indian Ocean."
            link="#"
            img="news/news-list/news_3"
            ext="png"
            list-more=true
          }}

          {{>blocks/news/news-card
            date="February 2017"
            title="Crew showed courage and aircraft rescued crew"
            text="Scientific-production association (NPO) «AeroVolga» (Krasniy Yar village, Samara region)  is a manufacturer..."
            link="#"
            img="news/news-list/news_4"
            ext="png"
            list-more=true
          }}
        {{/times}}
      </div>

      <div class="news-cards__btn-wrapper js-card-add__btn">
        {{>ui/btn color="outline-white" button=true label="Load more"}}
      </div>

    </div>
  </div>
</div>

{{> layout/footer }}
