  <div class="brochures__card">
    <a href="{{link}}" download class="brochures__card-link"></a>
    <div class="brochures__card-top">
      <div class="brochures__card-image">
        {{>components/image ext=ext img=img}}
      </div>
    </div>
    <div class="brochures__card-bottom">
      <span class="brochures__card-title">{{title}}</span>
    </div>
  </div>



