<div class="map-label {{#if color}}map-label--{{color}}{{/if}}">
  <div class="map-label__left">
    <span class="map-label__pointer"></span>
  </div>
  <div class="map-label__right">
    <div class="map-label__title">{{title}}</div>
    <div class="map-label__description">{{description}}</div>
  </div>
</div>
