<div class="map-legend">
  <div class="map-legend__left">
    <span class="map-legend__pointer" {{#if color}}style="background:{{color}}"{{/if}}></span>
  </div>
  <div class="map-legend__right">
    <div class="map-legend__title">{{title}}</div>
    <div class="map-legend__description">{{description}}</div>
  </div>
</div>
