<div class="factory-about">
  <div class="factory-about__inner">
    <div class="factory-about__item">
      <div class="factory-about__item-left">
        {{>ui/svg name="designe"}}
      </div>
      <div class="factory-about__item-right">
        <span class="factory-about__item-text">Designing of aircraft</span>
      </div>
    </div>
    <div class="factory-about__item">
      <div class="factory-about__item-left">
        {{>ui/svg name="production"}}
      </div>
      <div class="factory-about__item-right">
        <span class="factory-about__item-text">Aircraft production</span>
      </div>
    </div>
    <div class="factory-about__item">
      <div class="factory-about__item-left">
        {{>ui/svg name="testing"}}
      </div>
      <div class="factory-about__item-right">
        <span class="factory-about__item-text"> Aircraft testing</span>
      </div>
    </div>
    <div class="factory-about__item">
      <div class="factory-about__item-left">
        {{>ui/svg name="distribution"}}
      </div>
      <div class="factory-about__item-right">
        <span class="factory-about__item-text">Distribution of aircraft</span>
      </div>
    </div>
    <div class="factory-about__item">
      <div class="factory-about__item-left">
        {{>ui/svg name="operation"}}
      </div>
      <div class="factory-about__item-right">
        <span class="factory-about__item-text">Aircraft operation</span>
      </div>
    </div>
    <div class="factory-about__item">
      <div class="factory-about__item-left">
        {{>ui/svg name="maintenance"}}
      </div>
      <div class="factory-about__item-right">
        <span class="factory-about__item-text">Maintenance of aircraft</span>
      </div>
    </div>
  </div>
</div>
