<div class="vacancy__row {{#if header}}vacancy__row--header{{/if}}">
  <div class="vacancy__col {{#if bold}}vacancy__col--bold{{/if}}">{{position}}</div>
  <div class="vacancy__col">{{departament}}</div>
  <div class="vacancy__col">{{location}}</div>
</div>
