@mixin fontSourceSansRegular() {
  font-family: 'Source Sans Pro', -apple-system,
  'BlickMacSystemFont',
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;

  font-weight: 400;
}

@mixin fontSourceSansSemiBold() {
  font-family: 'Source Sans Pro', -apple-system,
  'BlickMacSystemFont',
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;

  font-weight: 600;
}

@mixin fontDrukBold() {
  font-family: Druk, -apple-system,
  'BlickMacSystemFont',
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;

  font-weight: 700;
}

@mixin fontDrukHeavy() {
  font-family: Druk, -apple-system,
  'BlickMacSystemFont',
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;

  font-weight: 900;
}
