<div class="factory-card__wrapper">
  {{>blocks/factory/components/factory-card link="./factory-history.html" title="History of the company" ext="png" img="factory/card/history"}}
  {{>blocks/factory/components/factory-card link="#" title="Our mission" ext="png" img="factory/card/mission"}}
</div>
