.news-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px -50px;
}

.news-card {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 0 30px 25px;

  &--container {
    padding: 0;
    max-width: 100%;
    .news-card__date {
      top: 26px;
      left: 32px;
    }
    .news-card__description{
      transform: translateY(-44px);
      padding: 18px 32px;
    }
    .news-card__text {
      margin-top: 7.6px;
    }

  }

  &__inner {
    width: 100%;
  }

  &__top {
    position: relative;
    width: 100%;
    padding-bottom: 66.7%;
  }

  &__background {
    @include fill;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__date {
    position: absolute;
    top: 30px;
    left: 30px;
    @include fontGraphikRegular;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: $color-white
  }

  &__description {
    transform: translateY(-25px);
    margin: 0 30px;
    padding: 26px 30px;
    background: $color-white;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $color-blue-dark-80;
  }

  &__text {
    margin-top: 16.6px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: $color-gray-80;
  }
}
