.search {

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 210px);

    &.active {
      padding: 42px 0 130px;
      justify-content: flex-start;
      @include mobile {
        padding: 22px 0 80px;
      }
    }
  }

  &__result {
    margin-top: 38px;
    counter-reset: list;
    @include mobile {
      margin-top: 18px;
    }

    &-item {
      position: relative;
      padding-bottom: 24px;
      border-bottom: 1px solid $color-gray-60;
      margin-bottom: 41px;
      padding-left: 17px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(n+10) {
        &:before {
          left: -9px;
        }
      }

      &:before {
        position: absolute;
        content: counter(list) ". ";
        counter-increment: list;

        top: 0;
        left: 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        @include fontRobotoRegular;
      }
    }

    &-title {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      text-decoration-line: underline;
      color: $color-blue-dark-80;
      @include fontRobotoRegular;

      transition: all 0.3s linear;

      > span {
        @include fontRobotoMedium;
      }

      @include desktop {
        &:hover {
          text-decoration: underline;
          color: $grayish-blue;
        }
      }

    }

    &-text {
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      margin-top: 9px;
      span {
        font-weight: bold;
      }
      @include mobile {
        line-height: 28px;
      }
    }
  }
}
