<div class="aircrafts-hero">
  <div class="aircrafts-hero__background">
    {{>components/image ext="png" img="aircrafts/single/hero-bg"}}
  </div>

  <div class="aircrafts-hero__inner">
    <div class="aircrafts-header js-aircrafts-header js-page-header">
      <div class="aircrafts-hero__container">
        <div class="aircrafts-header__inner js-aircrafts-header__content">
          <div class="aircrafts-header__content">
            <div class="aircrafts-header__left js-aircrafts-header__container">
              <ul class="aircrafts-header__list">
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Advantages</a>
                </li>
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Characteristics</a>
                </li>
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Modifications</a>
                </li>
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Color</a>
                </li>
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Avionics</a>
                </li>
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Media</a>
                </li>
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Range map</a>
                </li>
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Special usage</a>
                </li>
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Broshures</a>
                </li>
                <li class="aircrafts-header__item js-aircrafts-header__item">
                  <a href="#" class="aircrafts-header__link">Press</a>
                </li>
              </ul>
            </div>

            <div class="aircrafts-header__right">
              <button class="aircrafts-hero__btn">Order a aircraft</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aircrafts-hero__bottom">
      <h1 class="aircrafts-hero__title">LA-8</h1>

      <div class="stats">
        <div class="stats__inner">
          {{>blocks/stats-card title='8 seats' text='in the salon' icon='seat-white'}}
          {{>blocks/stats-card title='4000 km' text='range of flight' icon='range-white'}}
          {{>blocks/stats-card title='270 km' text='maximum speed' icon='speed-white'}}
          {{>blocks/stats-card title='250 l' text='fuel consumption' icon='fuel'}}
        </div>
      </div>
    </div>
  </div>
</div>
