<div class="aircrafts-hero">
  <div class="aircrafts-hero__background">
    {{>components/image ext="png" img="aircrafts/single/hero-bg"}}
  </div>
  <div class="aircrafts-hero__container">
    <div class="aircrafts-hero__inner">
      <div class="aircrafts-hero__top">

        <div class="aircrafts-hero__top-left">
          <ul class="aircrafts-hero__nav">
            <li class="aircrafts-hero__nav-item">
              <a href="#" class="aircrafts-hero__nav-link">Advantages</a>
            </li>
            <li class="aircrafts-hero__nav-item">
              <a href="#" class="aircrafts-hero__nav-link">Characteristics</a>
            </li>
            <li class="aircrafts-hero__nav-item">
              <a href="#" class="aircrafts-hero__nav-link">Modifications</a>
            </li>
            <li class="aircrafts-hero__nav-item">
              <a href="#" class="aircrafts-hero__nav-link">Color</a>
            </li>
            <li class="aircrafts-hero__nav-item">
              <a href="#" class="aircrafts-hero__nav-link">Avionics</a>
            </li>
          </ul>
        </div>


        <div class="aircrafts-hero__top-right">
          <button class="aircrafts-hero__btn">Order a aircraft</button>
        </div>
      </div>
      <div class="aircrafts-hero__bottom">
        <h1 class="aircrafts-hero__title">LA-8</h1>

        <div class="stats">
          <div class="stats__inner">
            {{>blocks/stats-card title='8 seats' text='in the salon' icon='seat-white'}}
            {{>blocks/stats-card title='4000 km' text='range of flight' icon='range-white'}}
            {{>blocks/stats-card title='270 km' text='maximum speed' icon='speed-white'}}
            {{>blocks/stats-card title='250 l' text='fuel consumption' icon='fuel'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
