<div class="section">
  <div class="container">
    {{#>blocks/title-with-description title="Characteristics aircraft"}}
      <p class="section__text">The aircraft is designed for operation in any latitudes and climatic zones, in freshwater
        and salt water bodies. The chassis of the aircraft allows you to fly from the ground strips, asphalt, concrete
        and snow.
      </p>
    {{/blocks/title-with-description}}
  </div>
</div>

