<div class="section">
  <div class="container">
    {{#>blocks/title-with-description title="Characteristics aircraft"}}
      <p class="section__text">The aircraft is designed for operation in any latitudes and climatic zones, in freshwater
        and salt water bodies. The chassis of the aircraft allows you to fly from the ground strips, asphalt, concrete
        and snow.
      </p>
    {{/blocks/title-with-description}}

    <div class="container container--small">
      <ul class="accordion accordion--characteristics js-accords">
        <li class="accordion__item">
          <div class="accordion__item-wrapper js-accord">
            <div class="accordion__top">
              <span class="accordion__title">Main characteristics of the basic model</span>
              <div class="accordion__pointer">
              </div>
            </div>
            <div class="accordion__description">
              <div class="accordion__description-wrapper">
                <div class="accordion__description-container">
                  <div class="characteristics-table">
                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Weight of base model</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">1685 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum takeoff weight</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">2720 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Wind wave height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">0,6 m</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Aerodrome height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">– 1500 meters (piston version)</span>
                        <span class="characteristics-table__description">– 2500 meters (turboprop version)</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum distance of the aircraft:</span>
                        <span class="characteristics-table__title">– «RS» virsion</span>
                        <span class="characteristics-table__title">– «C» virsion</span>

                      </div>
                      <div class="characteristics-table__col characteristics-table__col--end">
                        <span class="characteristics-table__description">4000 km</span>
                        <span class="characteristics-table__description">1400 km</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__item-wrapper js-accord">
            <div class="accordion__top">
              <span class="accordion__title">Equipment</span>
              <div class="accordion__pointer">
              </div>
            </div>
            <div class="accordion__description">
              <div class="accordion__description-wrapper">
                <div class="accordion__description-container">
                  <div class="characteristics-table">
                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Weight of base model</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">1685 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum takeoff weight</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">2720 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Wind wave height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">0,6 m</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Aerodrome height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">– 1500 meters (piston version)</span>
                        <span class="characteristics-table__description">– 2500 meters (turboprop version)</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum distance of the aircraft:</span>
                        <span class="characteristics-table__title">– «RS» virsion</span>
                        <span class="characteristics-table__title">– «C» virsion</span>

                      </div>
                      <div class="characteristics-table__col characteristics-table__col--end">
                        <span class="characteristics-table__description">4000 km</span>
                        <span class="characteristics-table__description">1400 km</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__item-wrapper js-accord">
            <div class="accordion__top">
              <span class="accordion__title">Payload</span>
              <div class="accordion__pointer">
              </div>
            </div>
            <div class="accordion__description">
              <div class="accordion__description-wrapper">
                <div class="accordion__description-container">
                  <div class="characteristics-table">
                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Weight of base model</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">1685 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum takeoff weight</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">2720 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Wind wave height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">0,6 m</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Aerodrome height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">– 1500 meters (piston version)</span>
                        <span class="characteristics-table__description">– 2500 meters (turboprop version)</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum distance of the aircraft:</span>
                        <span class="characteristics-table__title">– «RS» virsion</span>
                        <span class="characteristics-table__title">– «C» virsion</span>

                      </div>
                      <div class="characteristics-table__col characteristics-table__col--end">
                        <span class="characteristics-table__description">4000 km</span>
                        <span class="characteristics-table__description">1400 km</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__item-wrapper js-accord">
            <div class="accordion__top">
              <span class="accordion__title">Load</span>
              <div class="accordion__pointer">
              </div>
            </div>
            <div class="accordion__description">
              <div class="accordion__description-wrapper">
                <div class="accordion__description-container">
                  <div class="characteristics-table">
                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Weight of base model</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">1685 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum takeoff weight</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">2720 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Wind wave height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">0,6 m</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Aerodrome height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">– 1500 meters (piston version)</span>
                        <span class="characteristics-table__description">– 2500 meters (turboprop version)</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum distance of the aircraft:</span>
                        <span class="characteristics-table__title">– «RS» virsion</span>
                        <span class="characteristics-table__title">– «C» virsion</span>

                      </div>
                      <div class="characteristics-table__col characteristics-table__col--end">
                        <span class="characteristics-table__description">4000 km</span>
                        <span class="characteristics-table__description">1400 km</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__item-wrapper js-accord">
            <div class="accordion__top">
              <span class="accordion__title">Engine</span>
              <div class="accordion__pointer">
              </div>
            </div>
            <div class="accordion__description">
              <div class="accordion__description-wrapper">
                <div class="accordion__description-container">
                  <div class="characteristics-table">
                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Weight of base model</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">1685 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum takeoff weight</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">2720 kg</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Wind wave height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">0,6 m</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Aerodrome height</span>
                      </div>
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__description">– 1500 meters (piston version)</span>
                        <span class="characteristics-table__description">– 2500 meters (turboprop version)</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>

                    <div class="characteristics-table__row">
                      <div class="characteristics-table__col">
                        <span class="characteristics-table__title">Maximum distance of the aircraft:</span>
                        <span class="characteristics-table__title">– «RS» virsion</span>
                        <span class="characteristics-table__title">– «C» virsion</span>

                      </div>
                      <div class="characteristics-table__col characteristics-table__col--end">
                        <span class="characteristics-table__description">4000 km</span>
                        <span class="characteristics-table__description">1400 km</span>
                      </div>
                      <div class="characteristics-table__hint">
                        <p class="characteristics-table__hint-text">The minimum length of the runway is 400 meters. The
                          height of the aerodrome is up to 1500 meters (piston version) and 2500 meters (turboprop
                          version).</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="characteristics__bottom">
        {{>ui/btn color="outline" label="Order a consultation" button=true}}
      </div>
    </div>
  </div>

</div>

