<div class="section">
  <div class="container container--strict">
    {{>blocks/section-title title="Modifications"}}

    <div class="modifications js-tabs">
      <div class="modifications__inner">
        <div class="modifications__top">
          <ul class="modifications__nav">
            <li class="modifications__nav-item js-tab" data-target="[data-tab-content='LA-8С']">LA-8С</li>
            <li class="modifications__nav-item js-tab" data-target="[data-tab-content='LA-8L']">LA-8L</li>
            <li class="modifications__nav-item js-tab" data-target="[data-tab-content='LA-8L-RS']">LA-8L-RS</li>
            <li class="modifications__nav-item js-tab" data-target="[data-tab-content='LA-8С-RS']">LA-8С-RS</li>
            <li class="modifications__nav-item js-tab" data-target="[data-tab-content='LA-8Н']">LA-8Н</li>
            <li class="modifications__nav-item js-tab" data-target="[data-tab-content='LA-8FF']">LA-8FF</li>
          </ul>
        </div>
        <div class="modifications__description">
          <div class="modifications__item js-tab-content" data-tab-content="LA-8С">
            <div class="modifications__item-left">
              <span class="modifications__item-title">1.Description of the model with key indicators</span>
              <div class="modifications__item-table modifications__table">
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engines</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">LOM PRAHA M-337C-AV01</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engine power</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">H.P. 2х235</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">AVGAS-100LL, automotive gasoline not lower 95</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel consumption</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">70 l/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Range</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">1300 km</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Cruise speed</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">230 km/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Useful load</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">950 kg</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modifications__item-right">
              <div class="modifications-slider__wrapper js-modifications-slider">
                <div class="modifications-slider">
                  <div class="swiper-container js-modifications-slider__row">
                    <div class="swiper-wrapper">
                      {{#times 3}}
                      <div class="swiper-slide modifications-slider__slide swiper-no-swiping">
                        {{>components/image ext="png" img="aircrafts/single/modifications_1"}}
                      </div>
                      {{/times}}
                    </div>
                  </div>
                </div>
                <div class="modifications-thumbs">
                  <div class="swiper-container js-modifications-slider__thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_1"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_2"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_3"}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modifications__item js-tab-content" data-tab-content="LA-8L">
            <div class="modifications__item-left">
              <span class="modifications__item-title">2.Description of the model with key indicators</span>
              <div class="modifications__item-table modifications__table">
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engines</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">LOM PRAHA M-4545-AV01</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engine power</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">H.P. 2х235</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">AVGAS-100LL, automotive gasoline not lower 95</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel consumption</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">70 l/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Range</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">1300 km</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Cruise speed</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">230 km/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Useful load</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">950 kg</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modifications__item-right">
              <div class="modifications-slider__wrapper js-modifications-slider">
                <div class="modifications-slider">
                  <div class="swiper-container js-modifications-slider__row">
                    <div class="swiper-wrapper">
                      {{#times 3}}
                        <div class="swiper-slide modifications-slider__slide swiper-no-swiping">
                          {{>components/image ext="png" img="aircrafts/single/modifications_1"}}
                        </div>
                      {{/times}}
                    </div>
                  </div>
                </div>
                <div class="modifications-thumbs">
                  <div class="swiper-container js-modifications-slider__thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_1"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_2"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_3"}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modifications__item js-tab-content" data-tab-content="LA-8L-RS">
            <div class="modifications__item-left">
              <span class="modifications__item-title">3.Description of the model with key indicators</span>
              <div class="modifications__item-table modifications__table">
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engines</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">LOM PRAHA M-337C-AV01</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engine power</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">H.P. 2х235</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">AVGAS-100LL, automotive gasoline not lower 95</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel consumption</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">70 l/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Range</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">1300 km</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Cruise speed</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">230 km/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Useful load</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">950 kg</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modifications__item-right">
              <div class="modifications-slider__wrapper js-modifications-slider">
                <div class="modifications-slider">
                  <div class="swiper-container js-modifications-slider__row">
                    <div class="swiper-wrapper">
                      {{#times 3}}
                        <div class="swiper-slide modifications-slider__slide swiper-no-swiping">
                          {{>components/image ext="png" img="aircrafts/single/modifications_1"}}
                        </div>
                      {{/times}}
                    </div>
                  </div>
                </div>
                <div class="modifications-thumbs">
                  <div class="swiper-container js-modifications-slider__thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_1"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_2"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_3"}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modifications__item js-tab-content" data-tab-content="LA-8С-RS">
            <div class="modifications__item-left">
              <span class="modifications__item-title">4.Description of the model with key indicators</span>
              <div class="modifications__item-table modifications__table">
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engines</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">LOM PRAHA M-337C-AV01</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engine power</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">H.P. 2х235</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">AVGAS-100LL, automotive gasoline not lower 95</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel consumption</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">70 l/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Range</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">1300 km</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Cruise speed</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">230 km/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Useful load</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">950 kg</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modifications__item-right">
              <div class="modifications-slider__wrapper js-modifications-slider">
                <div class="modifications-slider">
                  <div class="swiper-container js-modifications-slider__row">
                    <div class="swiper-wrapper">
                      {{#times 3}}
                        <div class="swiper-slide modifications-slider__slide swiper-no-swiping">
                          {{>components/image ext="png" img="aircrafts/single/modifications_1"}}
                        </div>
                      {{/times}}
                    </div>
                  </div>
                </div>
                <div class="modifications-thumbs">
                  <div class="swiper-container js-modifications-slider__thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_1"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_2"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_3"}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modifications__item js-tab-content" data-tab-content="LA-8Н">
            <div class="modifications__item-left">
              <span class="modifications__item-title">5.Description of the model with key indicators</span>
              <div class="modifications__item-table modifications__table">
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engines</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">LOM PRAHA M-337C-AV01</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engine power</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">H.P. 2х235</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">AVGAS-100LL, automotive gasoline not lower 95</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel consumption</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">70 l/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Range</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">1300 km</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Cruise speed</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">230 km/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Useful load</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">950 kg</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modifications__item-right">
              <div class="modifications-slider__wrapper js-modifications-slider">
                <div class="modifications-slider">
                  <div class="swiper-container js-modifications-slider__row">
                    <div class="swiper-wrapper">
                      {{#times 3}}
                        <div class="swiper-slide modifications-slider__slide swiper-no-swiping">
                          {{>components/image ext="png" img="aircrafts/single/modifications_1"}}
                        </div>
                      {{/times}}
                    </div>
                  </div>
                </div>
                <div class="modifications-thumbs">
                  <div class="swiper-container js-modifications-slider__thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_1"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_2"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_3"}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modifications__item js-tab-content" data-tab-content="LA-8FF">
            <div class="modifications__item-left">
              <span class="modifications__item-title">6.Description of the model with key indicators</span>
              <div class="modifications__item-table modifications__table">
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engines</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">LOM PRAHA M-337C-AV01</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Engine power</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">H.P. 2х235</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">AVGAS-100LL, automotive gasoline not lower 95</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Fuel consumption</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">70 l/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Range</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">1300 km</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Cruise speed</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">230 km/h</span>
                  </div>
                </div>
                <div class="modifications__table-row">
                  <div class="modifications__table-col">
                    <span class="modifications__table-label">Useful load</span>
                  </div>
                  <div class="modifications__table-col">
                    <span class="modifications__table-value">950 kg</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modifications__item-right">
              <div class="modifications-slider__wrapper js-modifications-slider">
                <div class="modifications-slider">
                  <div class="swiper-container js-modifications-slider__row">
                    <div class="swiper-wrapper">
                      {{#times 3}}
                        <div class="swiper-slide modifications-slider__slide swiper-no-swiping">
                          {{>components/image ext="png" img="aircrafts/single/modifications_1"}}
                        </div>
                      {{/times}}
                    </div>
                  </div>
                </div>
                <div class="modifications-thumbs">
                  <div class="swiper-container js-modifications-slider__thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_1"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_2"}}
                      </div>
                      <div class="swiper-slide modifications-thumbs__slide">
                        {{>components/image ext='png' img="aircrafts/single/modifications-small_3"}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
