<div class="section section--block" id="color" data-landmark data-offset-tablet="80" data-offset-mobile="100">
  <div class="container container--strict">
    {{#>blocks/title-with-description title="Color solution for aircraft"}}
      <p>The glider is painted in high-quality American colors in white, with the possibility of
        adding extra shades. This coloring provides an almost unlimited resource of the composite structure, protecting
        it from the negative effects of solar radiation
      </p>
    {{/blocks/title-with-description}}

    <div class="color__content js-double-slider">
      <div class="color__slider">
        <div class="swiper-container js-double-slider__row">
          <div class="swiper-wrapper">
            {{#times 5}}
              <div class="swiper-slide color__slide">
                <div class="color__slide-image js-image-loading">
                  {{>components/image ext='png' img="aircrafts/single/helecopter"}}
                </div>
              </div>
            {{/times}}
          </div>
        </div>
      </div>

      <div class="color__thumbs">
        <div class="swiper-container js-double-slider__thumbs">
          <div class="swiper-wrapper">
            {{#times 5}}
              <div class="swiper-slide color__thumbs-slide">
                <div class="color__thumbs-image">
                  {{>components/image ext='png' img="aircrafts/single/color_1"}}
                </div>
              </div>
            {{/times}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
