<div class="section">
  <div class="container">
    {{#>blocks/title-with-description title="Color solution for aircraft"}}
      <p class="section__text">The glider is painted in high-quality American colors in white, with the possibility of
        adding extra shades. This coloring provides an almost unlimited resource of the composite structure, protecting
        it from the negative effects of solar radiation
      </p>
    {{/blocks/title-with-description}}
  </div>
</div>
