<div class="section">
  <div class="container">
    {{#>blocks/title-with-description title="Media"}}
      <div class="media__tabs">
        <div class="media__tabs-inner">
          <div class="media__tab">
            {{>ui/btn color="with-border" mix="active" label="Exterior" button=true}}
          </div>
          <div class="media__tab">
            {{>ui/btn color="with-border" label="Interior" button=true}}
          </div>
          <div class="media__tab">
            {{>ui/btn color="with-border" label="Avionics" button=true}}
          </div>
        </div>
      </div>
    {{/blocks/title-with-description}}

    <div class="media__content">
      <div class="media__inner">
        <div class="swiper-container gallery-slider js-gallery-slider">
          <div class="swiper-wrapper">
            {{#times 5}}
              <div class="swiper-slide gallery-slide">
                {{>components/image ext="png" img="aircrafts/single/media"}}
              </div>
            {{/times}}
          </div>
          <button class="gallery-slider__next"></button>
          <button class="gallery-slider__prev"></button>
        </div>

        <div class="media__bottom">
          <span class="media__text">Lightweight composite fuselage</span>
        </div>
      </div>
    </div>
  </div>

</div>
