<div class="section">
  <div class="container">
    {{#>blocks/title-with-description title="Advanced modern avionics"}}
      <p class="section__text">This advanced, intuitive system allows the flight crew to interface with the navigation,
        communication, situational awareness, and aircraft status and alerting systems.
      </p>
    {{/blocks/title-with-description}}
  </div>
</div>
