<div class="section">
  <div class="container">
    {{#>blocks/title-with-description title="Advanced modern avionics"}}
      <p class="section__text">This advanced, intuitive system allows the flight crew to interface with the navigation,
        communication, situational awareness, and aircraft status and alerting systems.
      </p>
    {{/blocks/title-with-description}}

    <div class="stats">
      <div class="stats__inner">
        {{>blocks/stats-card title='GARMIN G-500' text='aerobatic display' icon='garmin'}}
        {{>blocks/stats-card title='2 aerial screens' text='with data' icon='screens'}}
        {{>blocks/stats-card title='three-axis' text='autopilot' icon='axis'}}
        {{>blocks/stats-card title='database Yeppesen' text='on removable tablet iPad' icon='database'}}
      </div>
    </div>

    {{>blocks/image-fit ext='png' img="/aircrafts/single/modern_1"}}
  </div>
</div>
