<script>
  window.mapPlainDataArray = [
    {
      id: 0,
      legendColorMin: '#05cefb',
      legendColorMax: '#0530ff',
      circles:[{radius: 100, color: '#05cefb'},{radius: 200, color: '#0530ff'}],
      legendTextMax: 'without passengers and luggage and bottles of rum',
    },
    {
      id: 1,
      legendColorMin: '#05cefb',
      legendColorMax: '#0530ff',
      circles:[{radius: 100, color: '#05cefb'},{radius: 200, color: '#0530ff'}],
      legendTextMin: '10 passengers',
      legendTextMax: 'without passengers and luggage and bottles of rum',
    },
    {
      id: 2,
      legendColorMin: '#05cefb',
      legendColorMax: '#0530ff',
      circles:[{radius: 100, color: '#05cefb'},{radius: 200, color: '#0530ff'}],
      legendTextMin: '10 passengers',
      legendTextMax: 'without passengers and luggage and bottles of rum',
    },
    {
      id: 3,
      legendColorMin: '#0014ff',
      legendColorMax: '#ff0000',
      circles:[{radius: 500, color: '#0014ff'},{radius: 600, color: '#ff0000'}],
      legendTextMin: '8 passengers and luggage',
      legendTextMax: 'without passengers and luggage',
    },
    {
      id: 4,
      legendColorMin: '#05cefb',
      legendColorMax: '#0530ff',
      circles:[{radius: 100, color: '#05cefb'},{radius: 200, color: '#0530ff'}],
      legendTextMin: 'Full of luggage',
      legendTextMax: 'without passengers and luggage and bottles of rum'
    },
    {
      id: 5,
      legendColorMin: '#05cefb',
      legendColorMax: '#0530ff',
      circles:[{radius: 100, color: '#05cefb'},{radius: 200, color: '#0530ff'}],
      legendTextMin: 'Full of luggage',
      legendTextMax: 'without passengers and luggage and bottles of rum'
    },
    {
      id: 6,
      legendColorMin: '#05cefb',
      legendColorMax: '#0530ff',
      circles:[{radius: 100, color: '#05cefb'},{radius: 200, color: '#0530ff'}],
      legendTextMin: 'Full of luggage',
      legendTextMax: 'without passengers and luggage and bottles of rum'
    }
];
</script>
<div class="section js-aircraft-map" id="map" data-landmark data-offset="130" data-offset-tablet="160"
     data-offset-mobile="130">
  <div class="container container--strict">
    {{#>blocks/title-with-description title="Range map"}}
      <p>The maximum distance of the aircraft in the RS version is 4000 km. The flight range in
        the standard version "C", with a commercial load of 630 kg, with additional tanks located in the wing tips is
        -1400 km.
      </p>
    {{/blocks/title-with-description}}

    <div class="map">
      <div class="map__inner js-aircraft-map__api" data-api-key='AIzaSyDN2HnVw-m5nBlwzRTJnNF0hCm-fznR1DM'>

        <div class="map__image">
          {{>components/image ext="png" img="aircrafts/single/map"}}
        </div>
      </div>
      <div class="map__select">
        {{#> form/custom-select id="map_select"}}
          <option value="0">LA-8L-RS</option>
          <option value="1">LA-8ะก</option>
          <option value="2">LA-8L</option>
          <option value="3" selected>LA-8L-RS</option>
          <option value="4">LA-8ะก-RS</option>
          <option value="5">LA-8ะ</option>
          <option value="6">LA-8FF</option>
        {{/form/custom-select}}
      </div>

      <div class="map__legends js-aircraft-map__legend">
        {{>widgets/map-legend title="Min range" description="8 passengers and luggage" color="#0035AD"}}
        {{>widgets/map-legend title="Max range" description="without passengers and luggage" color="#980000"}}
      </div>
    </div>

  </div>
</div>
