<div class="section" id="map" data-landmark data-offset="130" data-offset-tablet="160" data-offset-mobile="130">
  <div class="container container--strict">
    {{#>blocks/title-with-description title="Range map"}}
      <p>The maximum distance of the aircraft in the RS version is 4000 km. The flight range in
        the standard version "C", with a commercial load of 630 kg, with additional tanks located in the wing tips is
        -1400 km.
      </p>
    {{/blocks/title-with-description}}

    <div class="map">
      <div class="map__inner">

        <div class="map__image">
          {{>components/image ext="png" img="aircrafts/single/map"}}
        </div>

        <div class="map__select">
          {{#> form/select default="LA-8L-RS"}}
            {{>form/options id="select0" options="LA-8L-RS"}}
            {{>form/options id="select1" options="LA-8ะก"}}
            {{>form/options id="select0" options="LA-8L"}}
            {{>form/options id="select1" options="LA-8L-RS"}}
            {{>form/options id="select1" options="LA-8ะก-RS"}}
            {{>form/options id="select0" options="LA-8ะ"}}
            {{>form/options id="select1" options="LA-8FF"}}
          {{/form/select}}
        </div>

        <div class="map__labels">
          {{>widgets/map-label title="Min range" description="8 passengers and luggage" color="blue"}}
          {{>widgets/map-label title="Max range" description="without passengers and luggage" color="red"}}
        </div>
      </div>
    </div>

  </div>
</div>
