<div class="section">
  <div class="container">
    {{#>blocks/title-with-description title="Range map"}}
      <p class="section__text">The maximum distance of the aircraft in the RS version is 4000 km. The flight range in
        the standard version "C", with a commercial load of 630 kg, with additional tanks located in the wing tips is
        -1400 km.
      </p>
    {{/blocks/title-with-description}}

    <div class="map">
      <div class="map__inner">
        <div class="map__image">
          {{>components/image ext="png" img="aircrafts/single/map"}}
        </div>
      </div>
    </div>

  </div>
</div>
