<script>
  window.mapDataArray = [
    {
      0: [
        {color: '#ffca00', title: "I'm first title", label: '1 passenger', radius: 100},
        {color: '#ff0000', title: "I'm second title", label: 'Legend for first model', radius: 150}
      ]
    },
    {
      1: [
        {color: '#05cefb', title: 'Min range', label: '2 passenger', radius: 100},
        {color: '#0530ff', title: 'Max range', label: 'Legend for second model', radius: 200}
      ]
    },

    {
      2: [
        {color: '#05cefb', title: 'Min range', label: '7 passenger', radius: 300},
        {color: '#0530ff', title: 'Max range', label: 'Legend for third model', radius: 400}
      ]
    },

    {
      3: [
        {color: '#0014ff', title: 'Min range', label: '8 passenger', radius: 500},
        {color: '#ff0000', title: 'Max range', label: 'Without passengers and luggage', radius: 600}
      ]
    },

    {
      4: [
        {color: '#0014ff', title: 'Min range', label: '8 passenger', radius: 500},
        {color: '#ff0000', title: 'Max range', label: 'Without passengers and luggage', radius: 600}
      ]
    },

    {
      5: [
        {color: '#0014ff', title: 'Min range', label: '8 passenger', radius: 500},
        {color: '#ff0000', title: 'Max range', label: 'Without passengers and luggage', radius: 600}
      ]
    },

    {
      6: [
        {color: '#0014ff', title: 'Min range', label: '8 passenger', radius: 500},
        {color: '#ff0000', title: 'Max range', label: 'Without passengers and luggage', radius: 600}
      ]
    },
  ];
</script>
<div class="section js-aircraft-map" id="map" data-landmark data-offset="130" data-offset-tablet="160"
     data-offset-mobile="130">
  <div class="container container--strict">
    {{#>blocks/title-with-description title="Range map"}}
      <p>The maximum distance of the aircraft in the RS version is 4000 km. The flight range in
        the standard version "C", with a commercial load of 630 kg, with additional tanks located in the wing tips is
        -1400 km.
      </p>
    {{/blocks/title-with-description}}

    <div class="map">
      <div class="map__inner js-aircraft-map__api" data-api-key='AIzaSyDN2HnVw-m5nBlwzRTJnNF0hCm-fznR1DM'>

        <div class="map__image">
          {{>components/image ext="png" img="aircrafts/single/map"}}
        </div>
      </div>
      <div class="map__select">
        {{#> form/custom-select id="map_select"}}
          <option value="0">LA-8L-RS</option>
          <option value="1">LA-8ะก</option>
          <option value="2">LA-8L</option>
          <option value="3" selected>LA-8L-RS</option>
          <option value="4">LA-8ะก-RS</option>
          <option value="5">LA-8ะ</option>
          <option value="6">LA-8FF</option>
        {{/form/custom-select}}
      </div>

      <div class="map__legends js-aircraft-map__legend">
        {{>widgets/map-legend title="Min range" description="8 passengers and luggage" color="#0035AD"}}
        {{>widgets/map-legend title="Max range" description="without passengers and luggage" color="#980000"}}
      </div>
    </div>

  </div>
</div>
