<script>
  window.mapPlainDataArray = [
    {
      id: 0,
      info: {
        legend: 'legend1',
        circles: [{ radius: 200, color: 'fd5800' }, { radius: 400, color: '10ff00' }],
      },
    },
    {
      id: 1,
      info: {
        legend: 'legend2',
        circles: [{ radius: 400, color: '05cefb' }, { radius: 600, color: '0530ff' }],
      },
    },
    {
      id: 2,
      info: {
        legend: 'legend3',
        circles: [{ radius: 800, color: '061f2a' }, { radius: 900, color: 'c02fd2' }],
      },
    },
    {
      id: 3,
      info: {
        legend: ' ',
        circles: [{ radius: 600, color: '0014ff' }, { radius: 700, color: 'ff0000' }],
      },
    },
    {
      id: 4,
      info: {
        legend: 'legend5',
        circles: null,
      },
    },
    {
      id: 5,
      info: {
        legend: 'legend6',
        circles: null,
      },
    },
    {
      id: 6,
      info: {
        legend: 'legend7',
        circles: null,
      },
    },
  ];
</script>
<div class="section js-aircraft-map" id="map" data-landmark data-offset="130" data-offset-tablet="160"
     data-offset-mobile="130">
  <div class="container container--strict">
    {{#>blocks/title-with-description title="Range map"}}
      <p>The maximum distance of the aircraft in the RS version is 4000 km. The flight range in
        the standard version "C", with a commercial load of 630 kg, with additional tanks located in the wing tips is
        -1400 km.
      </p>
    {{/blocks/title-with-description}}

    <div class="map">
      <div class="map__inner js-aircraft-map__api" data-api-key='AIzaSyDN2HnVw-m5nBlwzRTJnNF0hCm-fznR1DM'>

        <div class="map__image">
          {{>components/image ext="png" img="aircrafts/single/map"}}
        </div>
      </div>
      <div class="map__select">
        {{#> form/custom-select id="map_select"}}
          <option value="0">LA-8L-RS</option>
          <option value="1">LA-8ะก</option>
          <option value="2">LA-8L</option>
          <option value="3" selected>LA-8L-RS</option>
          <option value="4">LA-8ะก-RS</option>
          <option value="5">LA-8ะ</option>
          <option value="6">LA-8FF</option>
        {{/form/custom-select}}
      </div>

      <div class="map__legends js-aircraft-map__legend">
        {{>widgets/map-legend title="Min range" description="8 passengers and luggage" color="#0035AD"}}
        {{>widgets/map-legend title="Max range" description="without passengers and luggage" color="#980000"}}
      </div>
    </div>

  </div>
</div>
