<div class="section js-aircraft-map" id="map" data-landmark data-offset="130" data-offset-tablet="160" data-offset-mobile="130">
  <div class="container container--strict">
    {{#>blocks/title-with-description title="Range map"}}
      <p>The maximum distance of the aircraft in the RS version is 4000 km. The flight range in
        the standard version "C", with a commercial load of 630 kg, with additional tanks located in the wing tips is
        -1400 km.
      </p>
    {{/blocks/title-with-description}}

    <div class="map">
      <div class="map__inner js-aircraft-map__api">

        <div class="map__image">
          {{>components/image ext="png" img="aircrafts/single/map"}}
        </div>

        <div class="map__select">
          {{#> form/custom-select id="map_select"}}
            <option value="0">LA-8L-RS</option>
            <option value="1">LA-8ะก</option>
            <option value="2">LA-8L</option>
            <option value="3" selected>LA-8L-RS</option>
            <option value="4">LA-8ะก-RS</option>
            <option value="5">LA-8ะ</option>
            <option value="6">LA-8FF</option>
          {{/form/custom-select}}
        </div>

        <div class="map__labels">
          {{>widgets/map-label title="Min range" description="8 passengers and luggage" color="blue"}}
          {{>widgets/map-label title="Max range" description="without passengers and luggage" color="red"}}
        </div>
      </div>
    </div>

  </div>
</div>
