<div class="section">
  <div class="container">
    {{#>blocks/title-with-description title="Range map"}}
      <p class="section__text">The maximum distance of the aircraft in the RS version is 4000 km. The flight range in
        the standard version "C", with a commercial load of 630 kg, with additional tanks located in the wing tips is
        -1400 km.
      </p>
    {{/blocks/title-with-description}}

    <div class="map js-map-widget" data-api-url="/assets/ajax/map">
      <div class="map__container js-map"
           data-api-url="https://api-maps.yandex.ru/2.1/?lang=ru_RU"
           data-center="53.90253130,27.55209297"
           data-zoom="2">
      </div>
    </div>

  </div>
</div>
