<div class="section">
  <div class="container">
    {{#>blocks/title-with-description title="Brochures"}}
      <p class="section__subtitle">Full information on all models of the amphibian aircraft LA-8.
      </p>
    {{/blocks/title-with-description}}
  </div>
</div>
