<div class="section" id="broshures" data-landmark data-offset="130" data-offset-tablet="160" data-offset-mobile="130">
  <div class="container container--strict">
    {{#>blocks/title-with-description title="Brochures"}}
      <p>Full information on all models of the amphibian aircraft LA-8.
      </p>
    {{/blocks/title-with-description}}

    <div class="brochures">
      <div class="brochures__list brochures__list--block">
        <div class="brochures__card">
          <a href="#" download class="brochures__card-link"></a>
          <div class="brochures__card-top">
            <div class="brochures__card-image">
              {{>components/image ext="png" img="brochures/brochures_1"}}
            </div>
          </div>
          <div class="brochures__card-bottom">
            <span class="brochures__card-title">LA-8 Spetification</span>
          </div>
        </div>
        <div class="brochures__card">
          <a href="#" download class="brochures__card-link"></a>
          <div class="brochures__card-top">
            <div class="brochures__card-image">
              {{>components/image ext="png" img="brochures/brochures_2"}}
            </div>
          </div>
          <div class="brochures__card-bottom">
            <span class="brochures__card-title">Arrangement</span>
          </div>
        </div>
        <div class="brochures__card">
          <a href="#" download class="brochures__card-link"></a>
          <div class="brochures__card-top">
            <div class="brochures__card-image">
              {{>components/image ext="png" img="brochures/brochures_3"}}
            </div>
          </div>
          <div class="brochures__card-bottom">
            <span class="brochures__card-title">Modification</span>
          </div>
        </div>
        <div class="brochures__card brochures__card--link">
          <a href="#" download class="brochures__card-link"></a>
          <div class="brochures__card-top">
            <span class="brochures__card-more">More brochures</span>
            <div class="brochures__card-btn">
              <div class="btn__link btn__link--primary"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
