<div class="section section--contacts">
  <div class="contacts container--strict">
    <div class="contacts__background">
      {{>components/image img="aircrafts/single/contacts" ext="png"}}
    </div>
    <div class="container">
      <div class="contacts__inner">
        <div class="contacts__top">
          <h2 class="contacts__title">Order your La-8</h2>
        </div>
        <div class="contacts__bottom">
          <div class="contacts__left">
            <div class="contacts__left-top">
              <span class="contacts__left-title">Sales department</span>
            </div>
            <div class="contacts__left-bottom">
              <div class="contacts__person person">
                <span class="person__name">Alex Makarovsky,</span>
                <span class="person__description">Your personal manager</span>
                <div class="person__phone-block">
                  <div class="person__phone">
                    <a href="tel:+79857839897" class="person__phone-link">+7 (985) 783 98 97</a>
                  </div>
                </div>
                <div class="person__mail-block">
                  <div class="person__mail">
                    <a href="mailto:aerovolga@gmail.com" class="person__mail-link">aerovolga@gmail.com</a>
                  </div>
                  <div class="person__mail">
                    <a href="mailto:Alex-Mak@gmail.com" class="person__mail-link">Alex-Mak@gmail.com</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="contacts__right">
            {{>forms/contacts-form}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
