<div class="home-section home-section--hero">
  <div class="home-hero">
    <div class="home-hero__inner">
      <div class="home-hero__preview preview js-previews">
        <div class="preview__item js-preview active">
          <div class="preview__item-background">
            {{>components/image ext="png" img='home/hero_1'}}
          </div>
          <div class="preview__item-inner">
            <div class="preview__item-description">
              <span class="preview__item-title">Amphibia La-8</span>
              <p class="preview__item-text">The new standart in amphibia aircraft vehicles all over the world </p>
              <div class="preview__item-btn">
                {{>ui/btn color="outline" label="Explore"}}
              </div>
            </div>
          </div>
        </div>
        <div class="preview__item js-preview">
          <div class="preview__item-background">
            {{>components/image ext="png" img='home/hero_2'}}
          </div>
          <div class="preview__item-inner">
            <div class="preview__item-description">
              <div class="preview__item-title">Borey</div>
              <div class="preview__item-text">The new standart in amphibia aircraft vehicles all over the world </div>
              <div class="preview__item-btn">
                {{>ui/btn color="outline" label="Explore"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

