<div class="home-section home-section--hero">
  <div class="home-hero swiper-container js-previews">
    <div class="home-hero__inner swiper-wrapper">
      <div class="hh-slide swiper-slide js-preview">
        <div class="hh-slide__inner">
          <div class="hh-slide__media-container">
            <div class="hh-slide__media-item">
              {{>components/image ext="jpg" img='home/hero_1'}}
            </div>
            <div class="hh-slide__media-item">
              <video src="../assets/videos/home-hero/1.mp4" loop muted></video>
            </div>
          </div>
          <div class="hh-slide__content">
            <h2 class="hh-slide__title">Amphibia La-8</h2>
            <span
              class="hh-slide__description">The new standart in amphibia aircraft vehicles all over the world</span>
            <div class="hh-slide__action">
              <div class="hh-slide__button">
                {{>ui/btn color="outline" label="Explore"}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hh-slide swiper-slide js-preview">
        <div class="hh-slide__inner">
          <div class="hh-slide__media-container">
            <div class="hh-slide__media-item">
              {{>components/image ext="png" img='home/hero_2'}}
            </div>
            <div class="hh-slide__media-item">
              <video src="../assets/videos/home-hero/2.mp4" loop muted></video>
            </div>
          </div>
          <div class="hh-slide__content">
            <h2 class="hh-slide__title">Borey</h2>
            <span
              class="hh-slide__description">The new standart in amphibia aircraft vehicles all over the world </span>
            <div class="hh-slide__action">
              <div class="hh-slide__button">
                {{>ui/btn color="outline" label="Explore"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hh-pagination"></div>
  </div>
</div>

