<div class="home-section home-section--hero">
  <div class="home-hero">
    <div class="home-hero__inner">
      <div class="home-hero__slide">
        <div class="home-hero__preview">
          <div class="home-hero__media">
            {{>components/image ext="png" img='home/hero_1'}}
          </div>
          <div class="home-hero__content">
            <h2 class="home-hero__title">Amphibia La-8</h2>
            <span
              class="home-hero__description">The new standart in amphibia aircraft vehicles all over the world</span>
            <div class="home-hero__action">
              <div class="home-hero__button">
                {{>ui/btn color="outline" label="Explore"}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-hero__slide">
        <div class="home-hero__preview">
          <div class="home-hero__media">
            {{>components/image ext="png" img='home/hero_2'}}
          </div>
          <div class="home-hero__content">
            <h2 class="home-hero__title">Borey</h2>
            <span
              class="home-hero__description">The new standart in amphibia aircraft vehicles all over the world </span>
            <div class="home-hero__action">
              <div class="home-hero__button">
                {{>ui/btn color="outline" label="Explore"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

