<div class="home-section">
  <div class="home-hero">
    <div class="home-hero__inner">
      <div class="home-hero__preview preview">
        <div class="preview__item active">
          <div class="preview__item-background">
            {{>components/image ext="png" img='home/hero_1'}}
          </div>
          <div class="preview__item-inner">
            <div class="preview__item-description">
              <span class="preview__item-title">Amphibia La-8</span>
              <p class="preview__item-text">The new standart in amphibia aircraft vehicles all over the world </p>
              <div class="preview__item-btn">
                {{>ui/btn color="outline" label="Explore"}}
              </div>
            </div>
          </div>
        </div>
        <div class="preview__item">
          <div class="preview__item-background">
            {{>components/image ext="png" img='home/hero_2'}}
          </div>
          <div class="preview__item-inner">
            <div class="preview__item-description">
              <div class="preview__item-title"></div>
              <div class="preview__item-text"></div>
              <div class="preview__item-btn">
                {{>ui/btn color="outline" label="Explore"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

