<div class="home-section">
  <div class="home-section__inner">

    <div class="home-section__container">
      <div class="home-section__top">
        <h2 class="home-section__title">Features</h2>
      </div>
    </div>

    <div class="home-section__container--small">
      <div class="home-section__content">
      </div>
    </div>

  </div>
</div>
