<div class="home-section">
  <div class="home-section__background">
    {{>components/image}}
  </div>
  <div class="home-section__inner">
    <div class="home-section__container--small">
      <div class="home-section__top">
        <h2 class="home-section__title">Production</h2>
      </div>
      <div class="home-section__content">
        <div class="production">
          <div class="production__description">
            <div class="production__description-quote">
              <p class="production__description-text">The dreams of flying became more accessible. We have created for you
                a plane, which is for you an indispensable assistant.</p>
              <span class="production__description-author">Alafinov Sergey, CEO</span>
            </div>
          </div>

          <div class="production__digits">
            <div class="production__digits-item">
              <span class="production__digits-value">2004</span>
              <span class="production__digits-label">Start of production</span>
            </div>
            <div class="production__digits-item">
              <span class="production__digits-value">20+</span>
              <span class="production__digits-label">We produced more than 20 aircraft</span>
            </div>
            <div class="production__digits-item">
              <span class="production__digits-value">15</span>
              <span class="production__digits-label">Travel around the world </span>
            </div>
            <div class="production__digits-item">
              <span class="production__digits-value">47</span>
              <span class="production__digits-label">Professional constructors</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
