.home-section {
  position: relative;
  min-height: 100vh;

  display: flex;
  align-items: center;
  overflow: hidden;

  @include mobile {
    align-items: flex-start;
    min-height: auto;
  }

  &--small {
    min-height: auto;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);

    .home-section__inner {
      padding: 80px 0;
      @include tablet-and-mobile {
        padding: 100px 0;
      }
      @include mobile {
        padding: 60px 0;
      }
    }
  }

  &--hero {
    min-height: 0;
  }

  &--features {
    .home-section__inner {
      padding-top: 40px;
    }

    @include tablet-and-mobile {
      .home-section__inner {
        padding-top: 50px;
      }
    }
    @include mobile {
      .home-section__inner {
        padding-top: 32px;
      }
    }
  }

  &--services {
    align-items: flex-start;

    @include desktop {
      transform-style: preserve-3d;

      .home-section__inner {
        transform-style: preserve-3d;
        padding-top: 80px;
        @media (max-height: 750px) {
          padding-top: 40px;
        }
      }
    }

    @include tablet-and-mobile {
      .home-section__inner {
        padding-top: 78px;
      }

      .home-section__container--small {
        margin: 0 70px;
      }
    }
    @include mobile {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .home-section__inner {
        padding-top: 52px;
      }

      .home-section__container--small {
        margin: 0 30px;
      }
    }
  }

  &--production {

    @include tablet-and-mobile {
      .home-section__inner {
        padding-top: 80px;
      }

      .home-section__container--small {
        margin: 0 65px 0 67px;
      }
    }

    @include mobile {
      .home-section__inner {
        padding-top: 62px;
      }
      .home-section__container--small {
        margin: 0 30px;
      }
    }
  }


  &__background, &__background-top {
    @include fill();
    z-index: -2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__background-top {
    z-index: -1;
    @include mobile {
      max-width: 320px;
      margin: 0 auto;
    }
  }

  &__inner {
    width: 100%;
    @include desktop {
      @media (max-height: 700px) {
        padding: 40px 0;
      }
    }
    @include tablet-and-mobile {
      padding-top: 70px;
    }
    @include mobile {
      padding-top: 65px;
    }
  }

  &__container {
    margin: 0 60px;
    @include tablet-and-mobile {
      margin: 0 20px;
    }
    @include mobile {
      margin: 0 13px;
    }

    &--small {
      margin: 0 80px 0 120px;
      @include tablet-and-mobile {
        margin: 0 70px 0 67px;
      }
      @include mobile {
        margin: 0 0 0 30px;
      }
    }
  }

  &__top {
    max-width: 600px;
  }

  &__title {
    @include fontDrukWideMedium;
    font-size: 70px;
    line-height: 70px;
    color: $color-green-dark-100;
    @include mobile {
      font-size: 34px;
      line-height: 51px;
    }
  }
}

