.home-hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: relative;
    flex: 1 1 auto;
    width: 50%;
    padding: 0 299px;
    overflow: hidden;
    transition: width .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: width;

    &:first-child {
      clip-path: polygon(0% 0%, 100% 0%, calc(100% - 299px) 100%, 0% 100%);
      padding-left: 0;

      .home-hero {
        &__preview {
          left: 0;
        }

        &__content {
          margin-right: auto;
        }
      }
    }

    &:last-child {
      clip-path: polygon(299px 0%, 100% 0%, 100% 100%, 0% 100%);
      padding-right: 0;

      .home-hero {
        &__preview {
          right: 0;
        }

        &__content {
          margin-left: auto;
        }
      }
    }

    &:not(:last-child) {
      margin-right: -300px;
    }

    &:hover {
      width: 100%;

      .home-hero {
        &__preview {
          &:after {
            visibility: hidden;
            opacity: 0;
          }
        }

        &__title,
        &__description,
        &__action {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }

        &__title {
          transition-delay: .10s;
        }

        &__description {
          transition-delay: .13s;
        }

        &__action {
          transition-delay: .16s;
        }
      }
    }
  }

  &__preview {
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-end;
    width: 70vw;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
      transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img, video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    width: 50vw;
    padding: 180px 120px;
    z-index: 1;

    @include tablet-and-mobile {
      padding: 140px 60px;
    }
  }

  &__title {
    display: block;
    transform: translate3d(0, 500px, 0);
    margin-bottom: 18px;
    @include fontDrukWideMedium;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
    transition: all .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
  }

  &__description {
    display: block;
    transform: translate3d(0, 500px, 0);
    max-width: 300px;
    margin-bottom: 38px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(255, 255, 255, .8);
    transition: all .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
  }

  &__action {
    transform: translate3d(0, 500px, 0);
    transition: all .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
  }

  &__button {
    height: 40px;

    a {
      padding: 10px 46px 10px;
      background-color: transparent;
      color: $color-white;
      border: 1px solid rgba(255, 255, 255, 0.3);
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}
