.home-hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  @include mobile {
    max-height: 460px;
  }

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: relative;
    flex: 1 1 auto;
    width: 50%;
    padding: 0 299px;
    clip-path: polygon(299px 0%, 100% 0%, calc(100% - 299px) 100%, 0% 100%);
    transition: width .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: width;
    overflow: hidden;

    &:first-child {
      clip-path: polygon(0% 0%, 100% 0%, calc(100% - 299px) 100%, 0% 100%);
      padding-left: 0;

      .home-hero {
        &__preview {
          left: 0;
        }

        &__content {
          margin-right: auto;
        }
      }
    }

    &:last-child {
      clip-path: polygon(299px 0%, 100% 0%, 100% 100%, 0% 100%);
      padding-right: 0;

      .home-hero {
        &__preview {
          right: 0;
        }

        &__content {
          margin-left: auto;
        }
      }
    }

    &:not(:last-child) {
      margin-right: -300px;
    }

    &.active {
      width: 100%;

      .home-hero {
        &__preview:after {
          visibility: hidden;
          opacity: 0;
        }

        &__title,
        &__description,
        &__action {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }

        &__title {
          transition-delay: .10s;
        }

        &__description {
          transition-delay: .13s;
        }

        &__action {
          transition-delay: .16s;
        }
      }
    }

    @include tablet-and-mobile {
      width: 100%;
      flex-shrink: 0;
      padding: 0;
      clip-path: none;

      &:first-child,
      &:last-child {
        clip-path: none;

        .home-hero {
          &__preview {
            left: auto;
            right: auto;
          }

          &__content {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__preview {
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-end;
    width: 70vw;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
      transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    @include tablet-and-mobile {
      position: relative;
      width: 100%;

      &:after {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    width: 54vw;
    padding: 120px;
    z-index: 1;

    @include tablet-and-mobile {
      width: auto;
      padding: 80px 100px;
    }

    @include mobile {
      padding: 70px 50px;
    }
  }

  &__title,
  &__description,
  &__action {
    transform: translate3d(0, 500px, 0);
    transition: all .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;

    @include tablet-and-mobile {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__title {
    display: block;
    margin-bottom: 18px;
    @include fontDrukWideMedium;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
  }

  &__description {
    display: block;
    max-width: 300px;
    margin-bottom: 38px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(255, 255, 255, .8);
  }

  &__button {
    height: 40px;

    a {
      padding: 10px 46px 10px;
      background-color: transparent;
      color: $color-white;
      border: 1px solid rgba(255, 255, 255, 0.3);
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}
