.online-service {
  margin-top: 45px;
  @include tablet-and-mobile {
    margin: 47px 0 20px;
  }
  @include mobile {
    margin-top: 34px;
  }

  &__title {
    @include fontGraphikRegular;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: $color-gray-80;
  }

  &__middle {
    margin-top: 54px;
    max-width: 320px;
    @include tablet-and-mobile {
      margin-top: 56px;
    }
    @include mobile {
      margin-top: 40px;
    }
  }

  &__bottom {
    margin-top: 46px;
    @include tablet-and-mobile {
      margin-top: 43px;
    }
    @include mobile {
      margin-top: 49px;
    }
    button {
      padding: 8px 30px 10px;
      font-weight: 600;
    }
  }
}
