.press {


  &__inner {
    margin: 0 -60px;
    //overflow-y: hidden;
    //overflow-x: auto;
    //@include hide-scrollbar;

    @include tablet-and-mobile {
      margin: 0 -20px;
    }
    @include mobile {
      margin: 0 -13.5px;
    }
  }

  .swiper-container {
    padding: 0 60px;
    cursor: grab;
    @include tablet-and-mobile {
      padding: 0 20px;
    }
    @include mobile {
      padding: 0 13.5px;
    }
  }


  &__list {
    display: flex;
    margin: 0 0 -50px 0 !important;
    transition-property: transform;
  }

  &__item {
    flex: 0 0 420px;
    max-width: 420px;
    transition-property: transform;

    @include mobile {
      flex: 0 0 86vw;
      max-width: 86vw;

    }
  }

}
