.press {
  &__scroll {
    margin-right: -60px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 -50px -30px;

    &-cell {
      flex: 0 0 420px;
      max-width: 420px;
      margin: 0 30px;

      &:last-child {
        flex: 0 0 480px;
        max-width: 480px;
        margin-right: 0;
        padding-right: 60px;
      }
    }
  }
}
