.production {
  margin-top: 72px;
  @include tablet-and-mobile {
    margin-top: 74px;
  }

  @include desktopUp {
    max-width: 80%;
  }

  &__description {
    display: flex;
    justify-content: flex-end;
    @include mobile {
      justify-content: flex-start;
    }

    &-quote {
      max-width: 450px;
      width: 100%;
      padding: 32px 0 0 50px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        background: $color-gray-40;
        z-index: -1;
      }

      @include tablet-and-mobile {
        max-width: 340px;
      }
      @include mobile {
        padding: 11px 0 0;
        &:before {
          top: -22px;
          left: -50px;
        }
      }
    }

    &-text {
      max-width: 375px;
      font-weight: 600;
      font-size: 24px;
      line-height: 40px;
      color: $color-blue-dark-80;
    }

    &-author {
      display: block;
      margin-top: 18px;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      color: $color-gray-80;
    }
  }

  &__digits {
    margin: 176px 0 0;
    display: flex;
    justify-content: space-between;

    @include tablet-and-mobile {
      margin: 158px 0 28px;
    }

    @include mobile {
      margin-top: 450px;
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      @include hide-scrollbar;
    }

    &-item {
      flex: 1 1 160px;
      max-width: 160px;
      @include tablet-and-mobile {
        flex: 0 0 110px;
        max-width: 110px;
      }
      @include mobile {
        margin-right: 30px;
        &:last-child {
          flex: 0 0 123px;
          max-width: 123px;
          margin-right: 0;
          padding-right: 13px;
        }
      }
    }

    &-value {
      display: block;
      @include fontDrukWideMedium;
      font-size: 24px;
      line-height: 30px;
      color: $color-blue-dark-80;
      padding-bottom: 15px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 2px;
        width: 60px;
        background: $color-blue-dark-100;
      }
    }

    &-label {
      display: block;
      margin-top: 19px;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      color: $color-gray-80;
    }
  }

}
