<div class="section">
  {{#>blocks/title-with-description title="Our vacancies  in the company"}}
    <p class="section__subtitle">
      In our company you can realize yourself, open new horizons and realize interesting projects.
    </p>
  {{/blocks/title-with-description}}

  <div class="accordion__wrapper">
    {{>blocks/factory/careers/components/vacancy-row
      header=true
      position="Position"
      departament="Departament"
      location="Location"
    }}
    <ul class="accordion accordion--vacancy js-accords">
      <li class="accordion__item">
        <div class="accordion__item-wrapper js-accord">
          <div class="accordion__top">
            {{>blocks/factory/careers/components/vacancy-row
              bold=true
              position="Planner"
              departament="Operations/Production"
              location="Russia, Samara region"
            }}
            <div class="accordion__pointer">
            </div>
          </div>
          <div class="accordion__description">
            <div class="accordion__description-wrapper">
              <div class="accordion__description-container">
                <div class="vacancy__description">
                  {{#>blocks/news/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair is
                        structurally and functionally equivalent to the blueprint
                        design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable,
                        and defendable (including any
                        supporting analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical support;
                        including interpreting Engineering drawings, specifications, and
                        other engineering definition documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Required Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>B.S. or M.S. in Mechanical,
                        Electrical, Aerospace, or Manufacturing Engineering
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimum of 2 years of directly
                        related experience in MRB or Liaison related roles
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to work independently with
                        strong decision-making skills while under limited supervision
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to operate a CAD system to
                        view, measure and extract product data
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Demonstrated ability to work well
                        with various departments, including engineering, production,
                        quality and supply chain
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Direct experience in the assembly
                        of complex products
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Other Traits:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Clear communicator
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Highly intelligent - Analytical and
                        problem solver
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Mechanically inclined
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Good intuition & judgement
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Team player
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Self-starter
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Energetic/Passionate
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper js-accord">
          <div class="accordion__top">
            {{>blocks/factory/careers/components/vacancy-row
              bold=true
              position="Manufacturing Engineer (2nd shift 3PM-11:30PM)"
              departament="Engineering"
              location="Russia, Moscow"
            }}
            <div class="accordion__pointer">
            </div>
          </div>
          <div class="accordion__description">
            <div class="accordion__description-wrapper">
              <div class="accordion__description-container">
                <div class="vacancy__description">
                  {{#>blocks/news/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair is
                        structurally and functionally equivalent to the blueprint
                        design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable,
                        and defendable (including any
                        supporting analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical support;
                        including interpreting Engineering drawings, specifications, and
                        other engineering definition documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Required Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>B.S. or M.S. in Mechanical,
                        Electrical, Aerospace, or Manufacturing Engineering
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimum of 2 years of directly
                        related experience in MRB or Liaison related roles
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to work independently with
                        strong decision-making skills while under limited supervision
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to operate a CAD system to
                        view, measure and extract product data
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Demonstrated ability to work well
                        with various departments, including engineering, production,
                        quality and supply chain
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Direct experience in the assembly
                        of complex products
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Other Traits:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Clear communicator
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Highly intelligent - Analytical and
                        problem solver
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Mechanically inclined
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Good intuition & judgement
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Team player
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Self-starter
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Energetic/Passionate
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper js-accord">
          <div class="accordion__top">
            {{>blocks/factory/careers/components/vacancy-row
              bold=true
              position="Manager, Mechanical Systems Engineering"
              departament="Engineering"
              location="Russia, Samara"
            }}
            <div class="accordion__pointer">
            </div>
          </div>
          <div class="accordion__description">
            <div class="accordion__description-wrapper">
              <div class="accordion__description-container">
                <div class="vacancy__description">
                  {{#>blocks/news/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair is
                        structurally and functionally equivalent to the blueprint
                        design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable,
                        and defendable (including any
                        supporting analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical support;
                        including interpreting Engineering drawings, specifications, and
                        other engineering definition documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Required Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>B.S. or M.S. in Mechanical,
                        Electrical, Aerospace, or Manufacturing Engineering
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimum of 2 years of directly
                        related experience in MRB or Liaison related roles
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to work independently with
                        strong decision-making skills while under limited supervision
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to operate a CAD system to
                        view, measure and extract product data
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Demonstrated ability to work well
                        with various departments, including engineering, production,
                        quality and supply chain
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Direct experience in the assembly
                        of complex products
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Other Traits:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Clear communicator
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Highly intelligent - Analytical and
                        problem solver
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Mechanically inclined
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Good intuition & judgement
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Team player
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Self-starter
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Energetic/Passionate
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper js-accord">
          <div class="accordion__top">
            {{>blocks/factory/careers/components/vacancy-row
              bold=true
              position="Liaison Engineer – Mechanical/Electrical"
              departament="Engineering"
              location="Russia, Samara"
            }}
            <div class="accordion__pointer">
            </div>
          </div>
          <div class="accordion__description">
            <div class="accordion__description-wrapper">
              <div class="accordion__description-container">
                <div class="vacancy__description">
                  {{#>blocks/news/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair is
                        structurally and functionally equivalent to the blueprint
                        design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable,
                        and defendable (including any
                        supporting analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical support;
                        including interpreting Engineering drawings, specifications, and
                        other engineering definition documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Required Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>B.S. or M.S. in Mechanical,
                        Electrical, Aerospace, or Manufacturing Engineering
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimum of 2 years of directly
                        related experience in MRB or Liaison related roles
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to work independently with
                        strong decision-making skills while under limited supervision
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to operate a CAD system to
                        view, measure and extract product data
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Demonstrated ability to work well
                        with various departments, including engineering, production,
                        quality and supply chain
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Direct experience in the assembly
                        of complex products
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Other Traits:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Clear communicator
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Highly intelligent - Analytical and
                        problem solver
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Mechanically inclined
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Good intuition & judgement
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Team player
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Self-starter
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Energetic/Passionate
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper js-accord">
          <div class="accordion__top">
            {{>blocks/factory/careers/components/vacancy-row
              bold=true
              position="Contracts Administrator"
              departament="Sales"
              location="Russia, Moscow"
            }}
            <div class="accordion__pointer">
            </div>
          </div>
          <div class="accordion__description">
            <div class="accordion__description-wrapper">
              <div class="accordion__description-container">
                <div class="vacancy__description">
                  {{#>blocks/news/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair is
                        structurally and functionally equivalent to the blueprint
                        design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable,
                        and defendable (including any
                        supporting analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical support;
                        including interpreting Engineering drawings, specifications, and
                        other engineering definition documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Required Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>B.S. or M.S. in Mechanical,
                        Electrical, Aerospace, or Manufacturing Engineering
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimum of 2 years of directly
                        related experience in MRB or Liaison related roles
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to work independently with
                        strong decision-making skills while under limited supervision
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to operate a CAD system to
                        view, measure and extract product data
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Demonstrated ability to work well
                        with various departments, including engineering, production,
                        quality and supply chain
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Direct experience in the assembly
                        of complex products
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Other Traits:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Clear communicator
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Highly intelligent - Analytical and
                        problem solver
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Mechanically inclined
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Good intuition & judgement
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Team player
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Self-starter
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Energetic/Passionate
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__item-wrapper js-accord">
          <div class="accordion__top">
            {{>blocks/factory/careers/components/vacancy-row
              bold=true
              position="In-Process Inspector"
              departament="Supply Chain"
              location="Russia, Samara"
            }}
            <div class="accordion__pointer">
            </div>
          </div>
          <div class="accordion__description">
            <div class="accordion__description-wrapper">
              <div class="accordion__description-container">
                <div class="vacancy__description">
                  {{#>blocks/news/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair is
                        structurally and functionally equivalent to the blueprint
                        design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable,
                        and defendable (including any
                        supporting analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical support;
                        including interpreting Engineering drawings, specifications, and
                        other engineering definition documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Required Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>B.S. or M.S. in Mechanical,
                        Electrical, Aerospace, or Manufacturing Engineering
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimum of 2 years of directly
                        related experience in MRB or Liaison related roles
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to work independently with
                        strong decision-making skills while under limited supervision
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ability to operate a CAD system to
                        view, measure and extract product data
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Demonstrated ability to work well
                        with various departments, including engineering, production,
                        quality and supply chain
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Direct experience in the assembly
                        of complex products
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Ideal Experience:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>5 years MRB experience in
                        aerospace, automotive, boating, heavy equipment, and/or military transports
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Experience designing with various
                        manufacturing methods such as stamping, machining, welding,
                        injection molding, composite molding
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Startup environments
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                  {{#>blocks/news/news-block title="Other Traits:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Clear communicator
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Highly intelligent - Analytical and
                        problem solver
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Mechanically inclined
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Good intuition & judgement
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Team player
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Self-starter
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Energetic/Passionate
                      </li>
                    </ol>
                  {{/blocks/news/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
