<div class="section">
  {{#>blocks/title-with-description title="Our vacancies  in the company"}}
    <p class="section__subtitle">
      In our company you can realize yourself, open new horizons and realize interesting projects.
    </p>
  {{/blocks/title-with-description}}
</div>
