<div class="factory-card__wrapper">
  {{>blocks/factory/components/factory-card link="./news.html" title="Media center" ext="png" img="factory/card/news"}}
  {{>blocks/factory/components/factory-card link="./gallery.html" title="Gallery" ext="png" img="factory/card/gallery"}}
</div>
