{{#>blocks/downloads/components/downloads-section title="Borey"}}
  <ul class="accordion js-accords">

    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord">
        <div class="accordion__top">
          <span class="accordion__title">Brochures</span>
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord">
        <div class="accordion__top">
          <span class="accordion__title">Model Plans</span>
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
              {{>blocks/document-block link="#" pdf=true title="Model building plan "}}
              {{>blocks/document-block link="#" doc=true title="Model Plans LA-8"}}
              {{>blocks/document-block link="#" title="Modification"}}
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord">
        <div class="accordion__top">
          <span class="accordion__title">Technical Publications</span>
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
              {{>blocks/document-block link="#" pdf=true title="Model building plan "}}
              {{>blocks/document-block link="#" doc=true title="Model Plans LA-8"}}
              {{>blocks/document-block link="#" title="Modification"}}
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord">
        <div class="accordion__top">
          <span class="accordion__title">Manual</span>
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord">
        <div class="accordion__top">
          <span class="accordion__title">Handbook</span>
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord">
        <div class="accordion__top">
          <span class="accordion__title">Guide</span>
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
{{/blocks/downloads/components/downloads-section}}
