<div class="contacts__item__cell">
  <div class="contacts__item">
    {{>blocks/section-title title-small=true title-with-divider=true title="General contacts" }}
    <div class="contacts__item__content">
      {{> @partial-block }}
    </div>
  </div>
</div>

