.history-card {
  position: relative;
  display: flex;
  margin-top: 90px;

  &:first-child {
    margin-top: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    width: 101px;
    height: 1px;
    background: $color-gray-100;
    @include tablet-and-mobile {
      top: 16px;
    }
    @include mobile {
      display: none;
    }
  }

  &--reverse {
    justify-content: flex-end;

    &:after {
      left: 0;
      right: auto;
    }

    .history-card__date {
      justify-content: flex-start;
    }

    .history-card__inner {
      @include tablet-and-mobile {
        padding-left: 20px;
      }

      @include mobile {
        padding-left: 0;
      }
    }

  }

  &__inner {
    max-width: 360px;
    @include tablet-and-mobile {
      padding-right: 20px;
    }
    @include mobile {
      padding-right: 0;
    }
  }

  &__date {
    display: flex;
    justify-content: flex-end;
    @include fontGraphikRegular;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: $color-gray-80;
    @include mobile {
      justify-content: flex-start;
    }
  }

  &__title {
    display: block;
    margin-top: 60px;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: $color-blue-dark-80;
    @include mobile {
      margin-top: 10px;
    }
  }

  &__text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 32px;
    color: $color-blue-dark-80;
    @include mobile {
      margin-top: 0;
    }
  }

  &__image {
    margin-top: 18px;
    width: 100%;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      padding-bottom: 66.67%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    display: block;
    margin-top: 22px;
    @include fontGraphikRegular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.06em;
    color: $color-gray-80;
  }
}
