<div class="error-404">
  <div class="error-404__top">
    <div class="error-404__title">ERROR PAGE 404</div>
    <div class="error-404__subtitle">The page you are looking for could not be found</div>
  </div>
  <div class="error-404__bottom">
    <p class="error-404__text">Sorry, the link you clicked on does not work.</p>
    <p class="error-404__text">Please use the: </p>
    <ul class="error-404__list">
      <li class="error-404__item">
        <a href="#" class="error-404__link">Search page</a>
      </li>
      <li class="error-404__item">
        <a href="#" class="error-404__link">Home page</a>
      </li>
      <li class="error-404__item">
        <a href="#" class="error-404__link">Airplane page</a>
      </li>
      <li class="error-404__item">
        <a href="#" class="error-404__link">Personal area for owners</a>
      </li>
    </ul>
  </div>


</div>
