<div class="gallery-section">
  <div class="gallery-section__top">
    {{> blocks/section-title title=title}}
    <p class="gallery-section__description">{{description}}</p>
  </div>
  <div class="gallery-section__bottom">
    {{>blocks/gallery/single/components/gallery}}
  </div>
</div>