{{!Aircrafts}}

{{> layout/head page-title="Aircrafts"}}

{{> layout/header page-namespace="aircrafts" }}

{{>blocks/hero/hero hero-small=true title="Aircrafts" img="aircrafts/hero-bg" ext="png"}}


<div class="content__wrapper content__wrapper--small">
  <div class="container">
    <div class="aircrafts__wrapper">
      {{>blocks/aircrafts/aircrafts-card model="Amphibian aircraft" name="LA-8" link="#"}}
      {{>blocks/aircrafts/aircrafts-card model="Amphibian aircraft project" name="Borey" link="#"}}
    </div>
  </div>
</div>
{{> layout/footer }}
