{{!Contact Us}}

{{> layout/head page-title="Contact Us"}}

{{> layout/header }}

{{>blocks/hero/hero title="Contact us" img="contact-us/hero-bg" ext="png"}}



<div class="content__wrapper">
  <div class="container">
    {{>blocks/contact-us/01_general-contact}}
    {{>blocks/contact-us/02_management}}
    {{>blocks/contact-us/03_rimos-limited}}
  </div>
</div>

{{> layout/footer }}
