{{!Downloads}}

{{> layout/head page-title="Downloads"}}

{{> layout/header }}

{{>blocks/hero/hero title="Downloads" img="download/hero-bg" ext="png"}}

<div class="content__wrapper">
  {{>blocks/factory/components/factory-nav navbar=downloads-navbar anchor=true}}
  <div class="container">
    {{>blocks/downloads/01_la-aircrafts}}
    {{>blocks/downloads/02_borey-aircrafts}}
  </div>
</div>

{{> layout/footer }}
