{{!Factory}}

{{> layout/head page-title="Factory"}}

{{> layout/header }}

{{>blocks/hero/hero title="Factory" img="factory/hero-bg" ext="png"}}

<div class="content__wrapper">
  <div class="container">
    {{>blocks/factory/components/factory-nav active-page="About"}}

    {{>blocks/factory/about/01_construction}}
    {{>blocks/factory/about/02_licenses}}
    {{>blocks/factory/about/03_other-pages}}

  </div>
</div>


{{> layout/footer }}
