{{!Factory History}}

{{> layout/head page-title="Factory History"}}

{{> layout/header }}
{{>blocks/hero/hero title="History" img="history/hero-bg" ext="png"}}

<div class="content__wrapper">
  <div class="container">
    <div class="factory-card__wrapper">
      {{>blocks/factory/factory-card link="#" title="History of the company" ext="png" img="factory/card/preview_1"}}
      {{>blocks/factory/factory-card link="#" title="Our mission" ext="png" img="factory/card/preview_1"}}
    </div>
  </div>
</div>
{{> layout/footer }}
