{{!Gallery Single}}

{{> layout/head page-title="Gallery Single"}}

{{> layout/header }}

{{>blocks/hero/hero title="Aircraft LA-8" img="/gallery-single/hero-bg" ext="png"}}

<div class="content__wrapper">
  <div class="container">
    {{>blocks/gallery-single/gallery-section
      title="Photosession in Miami"
      description="In September 2017 a photo session of a new modification of the LA-8 amphibious aircraft took place."
    }}
    {{>blocks/gallery-single/gallery-section
      title="Presentation in Dubai"
      description="In October 2017 the company presented a new modification of the amphibian aircraft LA-8. The new modification is distinguished by new flight characteristics and changes in the bodywork."
    }}
    {{>blocks/gallery-single/gallery-section
      title="New modification"
      description="A new flight modification of the amphibian aircraft with modified wings and nose was developed. The plane became lighter and more maneuverable."
    }}
  </div>
</div>

{{> layout/footer }}
