{{!Gallery}}

{{> layout/head page-title="Gallery"}}

{{> layout/header page-namespace="gallery" header-active="Gallery"}}
{{>blocks/hero/hero title="Gallery" img="/gallery/hero-bg" ext="png"}}

<div class="content__wrapper">
  <div class="container container--strict">
    {{>blocks/gallery/gallery-card category="Amphibian aircraft" title="LA-8" link="/gallery-single.html" substrate="gallery/gallery-back-layer_1" top="gallery/gallery_1"}}
    {{>blocks/gallery/gallery-card category="Amphibian aircraft project" title="Borey" link="/gallery-single.html" substrate="gallery/gallery-back-layer_2" top="gallery/gallery_2"}}
  </div>
</div>

{{> layout/footer }}
