{{!Gallery}}

{{> layout/head page-title="Gallery"}}

{{> layout/header page-namespace="gallery" }}
{{>blocks/hero/hero title="Gallery" img="/gallery-single/hero-bg" ext="png"}}

<div class="content__wrapper">
  <div class="container">
    {{>blocks/gallery/gallery-card category="Amphibian aircraft" title="LA-8" link="/gallery-single.html" substrate="gallery/photo" top="gallery/gallery"}}
    {{>blocks/gallery/gallery-card category="Amphibian aircraft project" title="Borey" link="/gallery-single.html" substrate="gallery/photo_2" top="gallery/gallery_2"}}
  </div>
</div>

{{> layout/footer }}
