{{!Gallery Single}}

{{> layout/head page-title="Gallery Single"}}

{{> layout/header page-namespace="gallerySingle" }}
{{>blocks/hero/hero title="Aircraft LA-8" img="/gallery/single/hero-bg" ext="png" label="gallery" href="#"}}

<div class="content__wrapper">
  <div class="container">

    {{#>blocks/gallery/single/gallery-section
      title="Photosession in Miami"
      description="In September 2017 a photo session of a new modification of the LA-8 amphibious aircraft took place."
    }}
      {{#>blocks/gallery/single/components/gallery}}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_1'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_1@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_2'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_2@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_3'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_3@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_4'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_4@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
          video=true
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_5'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_5@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_4'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_4@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_5'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_5@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
      {{/blocks/gallery/single/components/gallery}}
    {{/blocks/gallery/single/gallery-section}}

    {{#>blocks/gallery/single/gallery-section
      title="Presentation in Dubai"
      description="In October 2017 the company presented a new modification of the amphibian aircraft LA-8. The new modification is distinguished by new flight characteristics and changes in the bodywork."
    }}
      {{#>blocks/gallery/single/components/gallery}}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_1'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_1@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_2'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_2@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_3'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_3@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_4'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_4@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_5'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_5@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_4'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_4@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_5'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_5@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_1'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_1@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_2'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_2@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_3'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_3@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_3'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_3@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
      {{/blocks/gallery/single/components/gallery}}
    {{/blocks/gallery/single/gallery-section}}

    {{#>blocks/gallery/single/gallery-section
      title="New modification"
      description="A new flight modification of the amphibian aircraft with modified wings and nose was developed. The plane became lighter and more maneuverable."
    }}
      {{#>blocks/gallery/single/components/gallery}}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_1'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_1@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_2'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_2@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_3'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_3@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_4'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_4@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
          video=true
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_5'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_5@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_4'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_4@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
        {{>blocks/gallery/single/components/gallery-card
          img='gallery/single/gallery-preview_5'
          ext='png'
          class='img-responsive'
          data-src="../assets/images/gallery/single/gallery-preview_5@4x.png"
          data-sub="<div>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on. </div>"
        }}
      {{/blocks/gallery/single/components/gallery}}
    {{/blocks/gallery/single/gallery-section}}

    <div class="gallery-section__btn-wrapper">
      {{>ui/btn color="outline-white" button=true label="Load more"}}
    </div>
  </div>
</div>

{{> layout/footer }}
