{{!News}}

{{> layout/head page-title="News"}}

{{> layout/header }}

{{>blocks/hero/hero title="Media center" img="/news/hero-bg" ext="png"}}

<div class="content__wrapper">
  <div class="container">

  </div>
</div>

{{> layout/footer }}
