{{!News Single}}

{{> layout/head page-title="News Single"}}

{{> layout/header }}

{{>blocks/hero/hero title="News" img="/news/news-single/hero/hero-bg" ext="png" label="Media center" href="#"}}

<div class="content__wrapper">
  <div class="container">
      {{>blocks/news/news-single-content}}
  </div>
</div>

{{> layout/footer }}
