{{!Search Error}}

{{> layout/head page-title="Search Error"}}

{{> layout/header page-namespace="search" }}
{{>blocks/hero/hero hero-small=true title="Search" img="search/hero-bg" ext="png"}}

<div class="search__content">
  <div class="container container--small">
    <div class="search__inner active">
      {{>form/search-input message="Nothing found on your request Chocolate" value="Chocolate"}}
    </div>
  </div>
</div>


{{> layout/footer }}
