{{!Search}}

{{> layout/head page-title="Search"}}

{{> layout/header page-namespace="search" header-active="Search"}}
{{>blocks/hero/hero hero-small=true title="Search" img="search/hero-bg" ext="png"}}

<div class="search__content">
  <div class="container container--small">
    <div class="search__inner">
      {{>form/search-input}}
    </div>
  </div>
</div>


{{> layout/footer }}
