<div class="contacts-section">
  <div class="contacts-section__wrapper">
    <div class="contacts__item__cell">
      <div class="contacts__item">
        {{>blocks/section-title title-small=true title-with-divider=true title="Management" }}
        <div class="contacts__item__content">
          <div class="management-contacts__wrapper">
            <div class="management-contacts__cell">
              <div class="management-contacts">
                <div class="management-contacts__top">
                  <div class="management-contacts__person">
                    <span class="management-contacts__name">Alafinov Sergey,</span>
                    <span class="management-contacts__position">Chairman of the Board of Directors</span>
                  </div>
                </div>
                <div class="management-contacts__bottom">
                  <div class="management-contacts__item">
                    <div class="management-contacts__item-left">
                      <div class="management-contacts__item-title">Phone:</div>
                    </div>
                    <div class="management-contacts__item-right">
                      {{>blocks/contact/phone small=true phone="+7 (495) 664 50 34" link="+74956645034"}}
                    </div>
                  </div>
                  <div class="management-contacts__item">
                    <div class="management-contacts__item-left">
                      <div class="management-contacts__item-title">Email:</div>
                    </div>
                    <div class="management-contacts__item-right">
                      {{>blocks/contact/mail mail="aerovolga@gmail.com"}}
                      {{>blocks/contact/mail mail="lvb2205@gmail.com"}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="management-contacts__cell">
              <div class="management-contacts">
                <div class="management-contacts__top">
                  <div class="management-contacts__person">
                    <span class="management-contacts__name">Alafinov George,</span>
                    <span class="management-contacts__position">Global distributor all countries</span>
                  </div>
                </div>
                <div class="management-contacts__bottom">
                  <div class="management-contacts__item">
                    <div class="management-contacts__item-left">
                      <div class="management-contacts__item-title">Email:</div>
                    </div>
                    <div class="management-contacts__item-right">
                      {{>blocks/contact/mail mail="alafinov@aerodsb.com"}}
                    </div>
                  </div>
                  <div class="management-contacts__item">
                    <div class="management-contacts__item-left">
                      <div class="management-contacts__item-title">Address:</div>
                    </div>
                    <div class="management-contacts__item-right">
                      {{>blocks/contact/address address="Aeronautique Design & Service Bureau SA Rue Agasse 54, 1208 Geneve Switzerland"}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="management-contacts__cell">
              <div class="management-contacts">
                <div class="management-contacts__top">
                  <div class="management-contacts__person">
                    <span class="management-contacts__name">Dmitry Suslakov,</span>
                    <span class="management-contacts__position">Chief Designer</span>
                  </div>
                </div>
                <div class="management-contacts__bottom">
                  <div class="management-contacts__item">
                    <div class="management-contacts__item-left">
                      <div class="management-contacts__item-title">Phone:</div>
                    </div>
                    <div class="management-contacts__item-right">
                      {{>blocks/contact/phone small=true phone="+7 (927) 294 29 63" link="+79272942963"}}
                    </div>
                  </div>
                  <div class="management-contacts__item">
                    <div class="management-contacts__item-left">
                      <div class="management-contacts__item-title">Fax:</div>
                    </div>
                    <div class="management-contacts__item-right">
                      {{>blocks/contact/phone small=true phone="+7 (846) 993 49 88"}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
