<div class="contacts-section">
  <div class="contacts-section__wrapper">
    <div class="contacts__item__cell">
      <div class="contacts__item">
        {{>blocks/section-title title-small=true title-with-divider=true title="Company “RIMOS LIMITED”" }}
        <div class="contacts__item__content">
          <div class="company-contacts">
            <div class="company-contacts__left">
              <div class="company-contacts__phones">
                {{>blocks/contact/phone phone="+7 (495) 664 50 34" link="+74956645034"}}
                {{>blocks/contact/phone phone="+1 (305) 40 727 50" link="+13054072750"}}
              </div>
              <div class="company-contacts__emails">
                {{>blocks/contact/mail mail="rimos.ltd@hotmail.com"}}
              </div>
            </div>
            <div class="company-contacts__right">
              <div class="company-contacts__address">
                {{>blocks/contact/address address="P.O. BOX 3321, Road Town, Tortola,  British Virgin Islands"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contacts__item__cell">
      <div class="contacts__item">
        {{>blocks/section-title title-small=true title-with-divider=true title="Russian branch of the company RIMOS LIMITED" }}
        <div class="contacts__item__content">
          <div class="company-contacts">
            <div class="company-contacts__left">
              <div class="company-contacts__phones">
                {{>blocks/contact/phone phone="+7 (846) 248 07 37" link="+78462480737"}}
                {{>blocks/contact/phone phone="+7 (909) 969 36 15" link="+79099693615"}}
              </div>
              <div class="company-contacts__emails">
                {{>blocks/contact/mail mail="rimos.rb@hotmail.com"}}
              </div>
            </div>
            <div class="company-contacts__right">
              <div class="company-contacts__address">
                {{>blocks/contact/address address="443056, Russia, Samara, Podshipnikovaya st, b.8, office 23"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
