.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-designe {
  width: 100px;
  height: 100px;
}
.icon-distribution {
  width: 100px;
  height: 100px;
}
.icon-doc {
  width: 40px;
  height: 36px;
}
.icon-facebook {
  width: 30px;
  height: 30px;
}
.icon-instagram {
  width: 30px;
  height: 30px;
}
.icon-la8 {
  width: 143px;
  height: 33px;
}
.icon-layout--borey {
  width: 99px;
  height: 35px;
}
.icon-layout--la8 {
  width: 143px;
  height: 33px;
}
.icon-layout--mail {
  width: 27px;
  height: 18px;
}
.icon-maintenance {
  width: 100px;
  height: 100px;
}
.icon-operation {
  width: 103px;
  height: 103px;
}
.icon-pdf {
  width: 40px;
  height: 36px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
.icon-production {
  width: 100px;
  height: 100px;
}
.icon-testing {
  width: 100px;
  height: 100px;
}
.icon-twitter {
  width: 30px;
  height: 30px;
}
.icon-txt {
  width: 40px;
  height: 36px;
}
