$icons: (sprite: (width: 677px, height: 457px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
accordion-arrow: (width: 21px, height: 11px, backgroundX: 0px, backgroundY: 0px),
accordion-close: (width: 20px, height: 20px, backgroundX: -21px, backgroundY: -11px),
apostrophe: (width: 28px, height: 21px, backgroundX: -41px, backgroundY: -31px),
back-primary: (width: 60px, height: 22px, backgroundX: -69px, backgroundY: -52px),
back-white: (width: 61px, height: 23px, backgroundX: -129px, backgroundY: -74px),
crosshair: (width: 20px, height: 20px, backgroundX: -190px, backgroundY: -97px),
download: (width: 62px, height: 62px, backgroundX: -210px, backgroundY: -117px),
lg-close: (width: 20px, height: 21px, backgroundX: -272px, backgroundY: -179px),
lg-download: (width: 13px, height: 12px, backgroundX: -292px, backgroundY: -200px),
lg-next: (width: 20px, height: 21px, backgroundX: -305px, backgroundY: -212px),
lg-prev: (width: 20px, height: 21px, backgroundX: -325px, backgroundY: -233px),
logo: (width: 188px, height: 72px, backgroundX: -345px, backgroundY: -254px),
magnifier: (width: 23px, height: 23px, backgroundX: -533px, backgroundY: -326px),
popup-close: (width: 20px, height: 21px, backgroundX: -556px, backgroundY: -349px),
select-arrow: (width: 13px, height: 9px, backgroundX: -576px, backgroundY: -370px),
slider-arrow: (width: 20px, height: 21px, backgroundX: -589px, backgroundY: -379px),
slider-arrow-dark: (width: 20px, height: 21px, backgroundX: -609px, backgroundY: -400px),
tick: (width: 28px, height: 21px, backgroundX: -629px, backgroundY: -421px),
tick-small: (width: 20px, height: 15px, backgroundX: -657px, backgroundY: -442px),
);
