$icons: (sprite: (width: 95px, height: 78px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
accordion-arrow: (width: 21px, height: 11px, backgroundX: 0px, backgroundY: 0px),
accordion-close: (width: 20px, height: 20px, backgroundX: -21px, backgroundY: -11px),
apostrophe: (width: 28px, height: 21px, backgroundX: -41px, backgroundY: -31px),
popup-close: (width: 26px, height: 26px, backgroundX: -69px, backgroundY: -52px),
);
