$icons: (sprite: (width: 346px, height: 242px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
accordion-arrow: (width: 21px, height: 11px, backgroundX: 0px, backgroundY: 0px),
accordion-close: (width: 20px, height: 20px, backgroundX: -21px, backgroundY: -11px),
apostrophe: (width: 28px, height: 21px, backgroundX: -41px, backgroundY: -31px),
back-primary: (width: 60px, height: 22px, backgroundX: -69px, backgroundY: -52px),
back-white: (width: 61px, height: 23px, backgroundX: -129px, backgroundY: -74px),
download: (width: 62px, height: 62px, backgroundX: -190px, backgroundY: -97px),
popup-close: (width: 26px, height: 26px, backgroundX: -252px, backgroundY: -159px),
slider-arrow: (width: 20px, height: 21px, backgroundX: -278px, backgroundY: -185px),
tick: (width: 28px, height: 21px, backgroundX: -298px, backgroundY: -206px),
tick-small: (width: 20px, height: 15px, backgroundX: -326px, backgroundY: -227px),
);
