<div class="news-single__content">

  <div class="news-single__date">
    <span class="news-single__date-inner">
      Desember 2017
    </span>
  </div>
  <div class="news-single__container">
    {{>blocks/section-title title="Fligth test of a new LA-8C"}}
    <h3 class="news-single__subtitle">
      On December 2017 obtained type certificates from the European Aviation Safety Agency (EASA) and the US-American
      Federal Aviation Administration (FAA) for the first ever Swiss business jet. Certification of the Super Versatile
      Jet prepares the ground for initial customer deliveries, which will see the business jet take off from Central
      Switzerland for its entry on the global market.
    </h3>
    <div class="news-single__text-wrapper">
      <p class="news-single__text">All three prototypes used in the certification program currently make a total of
        2,205
        flying hours around the world. Some flight tests were carried out under extreme conditions: in icing conditions
        and very high temperatures, at altitudes and speeds that were not usually met in daily operations.
      </p>
    </div>
  </div>

  {{>blocks/image-with-content
    title="Other tests that include many components"
    text="Tests have included bird impacts, structural stress tests, noise tests and general function.  All this to prove that customers may depend on this aircraft to operate safely and reliably at all times, in line with statutory requirements."
  }}

  {{>blocks/image-with-content
    reverse=true
    title="Our goals are to go forward, together with talented people"
    text="Provide freedom, fun and adventure to fly to all who dream about it, creating the most exciting, intuitive, safe and affordable personal aircraft in the world thanks to an unrivaled fusion of design and technology."
  }}

  <div class="news-single__container">
    <div class="news-single__text-wrapper">
      <p class="news-single__text">All three prototypes used in the certification program currently make a total of
        2,205
        flying hours around the world. Some flight tests were carried out under extreme conditions: in icing conditions
        and very high temperatures, at altitudes and speeds that were not usually met in daily operations.
      </p>
    </div>
    <div class="news-single__text-wrapper">
      <p class="news-single__text"> Invested over 500 million Swiss francs of own funds in the development programme. A
        further 150 million francs went into buildings and state-of-the-art production machinery at Stans in order to
        expand our series production capacity in parallel.
      </p>
    </div>
    {{>blocks/image-fit ext='png' img="news/news-single/news-1"}}

    {{>blocks/quote
      text="The first business aircraft. Naturally, the requirements associated with obtaining certification for this type of aircraft are extremely strict, and I hardly need to mention that we have not encountered any problems in the development."
    }}

    {{#>blocks/news/news-block title="Query subject:"}}
      <p class="news-single__text news-single__text--small"> We strive to win talented young people for our company! Our
        extensive training
        programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
        in our mission to shape the future.
      </p>
    {{/blocks/news/news-block}}

    {{#>blocks/news/news-block title="Basic Actions:"}}
      <ol class="list list--decimal">
        <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past problems
          (indicates MRB actions and associated root cause
          support and determination has been effective.)
        <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly documented, traceable,
          and defendable (including any
          supporting analyses).
        </li>
        <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized, but not at the
          expense of correct repairs and
          supporting analyses (i.e. product integrity must be maintained with evidence).
        </li>
        <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report (NCR) backlog</li>
        </li>
      </ol>
    {{/blocks/news/news-block}}

    {{#>blocks/news/news-block title="Basic Actions:"}}
      <ul class="list list--disc">
        <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past problems
          (indicates MRB actions and associated root cause
          support and determination has been effective.)
        <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly documented, traceable,
          and defendable (including any
          supporting analyses).
        </li>
        <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized, but not at the
          expense of correct repairs and
          supporting analyses (i.e. product integrity must be maintained with evidence).
        </li>
        <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report (NCR) backlog</li>
        </li>
      </ul>
    {{/blocks/news/news-block}}

    <div class="news-single__text-wrapper">
      <p class="news-single__text news-single__text--small"> We strive to win talented young people for our company! Our
        extensive training
        programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
        in our mission to shape the future.
      </p>
    </div>
    {{>blocks/image-fit ext='png' img="news/news-single/news-1"}}
    <div class="news-single__text-wrapper">
      <p class="news-single__text news-single__text--small"> We strive to win talented young people for our company! Our
        extensive training
        programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
        in our mission to shape the future.
      </p>
    </div>
    {{>blocks/image-fit ext='png' img="news/news-single/news-1"}}
    <div class="news-single__text-wrapper">
      <p class="news-single__text news-single__text--small"> We strive to win talented young people for our company! Our
        extensive training
        programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
        in our mission to shape the future.
      </p>
    </div>
  </div>
</div>
