.header-main {
  width: 80px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: $color-white;
  z-index: 21;
  transition: all 0.3s linear;

  display: flex;
  flex-direction: column;

  @include no-smallTablet {
    &.active {
      &:before {
        position: absolute;
        content: '';
        top: 0;
        right: 0px;
        height: 100%;
        width: 1px;
        background: #D8D8D8;
      }
    }
  }

  @include smallTablet-and-mobile {
    min-height: 80px;
    max-height: 80px;
    height: 100%;
    width: 100vw;
    position: relative;
    bottom: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 49px 20px 18px;
    background: transparent;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      height: 100px;
      max-width: 0px;
      width: 100%;
      background: $color-white;
      z-index: -1;
      transition: all 0.3s linear;
    }

  }
  @include mobile {
    min-height: 50px;
    max-height: 50px;
    padding: 7px 14px 7px 13px;
    &:before {
      height: 50px;
    }
  }

  &__top {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    @include smallTablet-and-mobile {
      padding-top: 0;
    }
  }


  &__burger {
    width: 40px;
    height: 16px;

    &.active {

      i {
        width: 70%;
        background: transparent;

        &:after {
          width: 54px;
          transform: rotate(-45deg);
          bottom: 0;
          @include no-smallTablet {
            left: -6px;
          }
          @include mobile {
            width: 40px;
          }
        }

        &:before {
          width: 54px;
          transform: rotate(45deg);
          top: 0;
          @include no-smallTablet {
            left: -6px;
          }
          @include mobile {
            width: 40px;
          }
        }

        @include smallTablet-and-mobile {

          &:before, &:after {
            background: $color-primary;
          }
        }
      }

      @include desktop {
        &:hover {
          i {
            &:before {
              top: 0;
              background: $color-green-dark-60;
            }

            &:after {
              bottom: 0;
              background: $color-green-dark-60;
            }
          }
        }
      }
    }

    @include desktop {
      &:hover {
        i {
          &:before {
            top: -10px;
          }

          &:after {
            bottom: -10px;
          }
        }
      }
    }

    i {
      height: 2px;
      background: $color-primary;
      transition: all .25s ease-in-out, color .2s ease-in-out;
      width: 40px;
      display: block;
      position: relative;
      margin: 5px 0;

      @include smallTablet-and-mobile {
        background: $color-white;
      }

      &:before, &:after {
        content: '';
        height: 2px;
        background: $color-primary;
        position: absolute;
        transition: all .15s ease-in-out;
        left: 0;
        right: 0;

        @include smallTablet-and-mobile {
          background: $color-white;
        }
      }

      &:before {
        top: -7px;
      }

      &:after {
        bottom: -7px;
      }
    }
  }

  &__bottom {
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    margin-top: auto;

    @include smallTablet-and-mobile {
      display: none;
    }
  }

  &__logo {
    flex: 1 1 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;

    @include smallTablet-and-mobile {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }

    &-link {
      @include fill();
    }
  }

  &__logo-mobile {
    display: none;
    position: relative;
    @include smallTablet-and-mobile {
      display: block;
      img {
        width: 136px;
        height: 52px;
        transition: all 0.3s linear;
      }
      .header-main__logo-ipad {
        position: absolute;
        top: 50%;
        left: 0;
        width: 250px;
        opacity: 0;
        transform: translateY(-50%);
        transition: all 0.3s linear;

        &-link {
          @include fill();
        }

        img {
          display: block;
          height: 18px;
          width: 250px;
          opacity: 1 !important;
          transition: all 0s linear;
        }
      }
    }
    @include mobile {
      img {
        width: 94px;
        height: 36px;
      }
      .header-main__logo-ipad {
        display: none;
      }
    }

    &-link {
      @include fill();
    }
  }

  &__contact {
    border: 1px solid #9FA6A9;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;

    &:hover {
      border-color: $color-green-dark-100;
    }

    svg {
      width: 25px;
    }
  }

}
