.header-brand {
  position: absolute;
  left: 80px;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  @include smallTablet-and-mobile {
    position: static;
    flex: 0 0 130px;
    background: $color-primary;
    transform: translateX(-100%);
    transition: all 0.3s linear;
  }
  @include mobile {
    flex: 0 0 90px;
  }

  &__top {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    @include smallTablet-and-mobile {
      display: none;
    }
  }

  &__middle {
    display: none;
    justify-content: center;
    align-items: center;

    margin-top: 94px;
  }

  &__title {
    @include section_title;
    color: $color-white;
    text-align: center;
    max-width: 220px;
  }

  &__bottom {
    margin-top: auto;
    text-align: center;
    color: $color-white;
    padding: 0 9px;
    @include smallTablet-and-mobile {
      margin: 0;
      display: flex;
      height: 100%;
    }
  }

  &__item {
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);

    @include smallTablet-and-mobile {
      flex: 1 1 50%;
      max-width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        position: relative;

        &:before {
          position: absolute;
          top: 0;
          right: -0.5px;
          content: '';
          width: 1px;
          height: 100%;
          background-color: #5E5E5E;
        }
      }

      &:nth-child(n + 3) {
        display: none;
      }
    }
  }

  &__product {
    display: block;
    padding: 16px 0 14px;
    text-transform: uppercase;

    svg {
      margin-bottom: 6px;
      width: 100%;
      height: 33px;
    }

    &-name {
      @include section_caption;
      color: $color-white;
    }
  }

  &__link {
    margin: 39px 0 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
  }

  //Modifiers
  &--home {
    .header-brand__top {
      img {
        width: 188px;
        height: 72px;
        object-fit: cover;
      }
    }
    .header-brand__middle {
      display: flex;
    }
    .header-brand__bottom {
      padding: 0 20px;
    }
    .header-brand__product {
      &-name {
        line-height: 13px;
      }
    }
  }
}
