.header-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc(100vw - 80px);
  left: 80px;
  z-index: 20;
  transform: translatex(-100%);
  transition: all 0.3s linear, background-color 0s linear;

  &.active {
    transform: translatex(0);
    background: rgba(18, 43, 54, 0.5);
    transition: transform 0.3s linear, background-color 0.2s linear 0.3s;
  }

  &-inner {
    width: 520px;
    background: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 145px 60px 70px 100px;
  }

  &__bottom {
    margin-top: 64px;
  }
}

.header-menu {
  &__item {
    @include section_title;
    padding-bottom: 16px;

    &:last-child {
      padding-bottom: 0;
    }

    &.active {
      color: $color-blue-light;
    }

    &:hover {
      .header-menu__link {
        padding-left: 20px;
      }
    }
  }

  &__link {
    display: block;
    transition: all 0.3s linear;
  }

}


.header-submenu {
  &__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: $color-blue-dark-80;
    padding-bottom: 10px;

    &:last-child {
      padding-top: 0;
    }

    &:hover {
      .header-submenu__link {
        color: #3D5E6C;
      }
    }
  }

  &__link {
    display: block;
    transition: all 0.3s linear;
  }
}
