.header-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc(100vw - 80px);
  left: 80px;
  z-index: 20;
  transform: translateX(-100%);
  transition: all 0.3s linear, background-color 0s linear;

  @include smallTablet-and-mobile {
    position: static;
    width: 100vw;
    flex: 1 1 auto;
    background: $color-white;
  }
  @include mobile {
    @media (max-height: 700px)  {
      flex: 1 1 1px;
      overflow-y: auto;
    }
  }

  &.active {
    transform: translatex(0);
    background: rgba(18, 43, 54, 0.5);
    transition: transform 0.3s linear, background-color 0.2s linear 0.3s;
    @include smallTablet-and-mobile {
      display: block;
      background: $color-white;
    }
  }

  &-inner {
    width: 520px;
    background: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 145px 60px 70px 100px;

    @media (max-height: 700px) {
      padding: 60px 60px 60px 100px;
    }
    @include smallTablet-and-mobile {
      width: 100vw;
      padding: 126px 0;
      align-items: center;
    }
    @include mobile {
      padding: 40px 0;
    }
    @include mobile480 {
      padding: 20px 0;
    }
  }

  &__search {
    @include mobile {
      @media (max-height: 700px)  {
        margin-top: 40px;
      }
    }
  }
}

.header-menu {
  &__item {
    @include section_title;
    padding-bottom: 16px;

    &:last-child {
      padding-bottom: 0;
    }
    &.active {
      color: $color-blue-light;
    }
    &:hover {
      .header-menu__link {
        padding-left: 20px;
      }
    }

    @include smallTablet-and-mobile {
      text-align: center;
    }
  }

  &__link {
    display: block;
    transition: all 0.3s linear;
  }

}

.header-submenu {
  @include mobile {
    @media (max-height: 700px)  {
      margin-top: 37px;
    }
  }

  &__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: $color-blue-dark-80;
    padding-bottom: 10px;

    &:last-child {
      padding-top: 0;
    }
    &.active {
      color: $color-blue-light;
    }
    &:hover {
      .header-submenu__link {
        color: #3D5E6C;
      }
    }

    @include smallTablet-and-mobile {
      text-align: center;
      font-size: 20px;
    }
  }

  &__link {
    display: block;
    transition: all 0.3s linear;
  }
}
