.services-card {
  border-bottom: 1px solid $color-gray-60;
  padding: 60px 0;

  @include mobile480 {
    padding: 30px 0;
  }

  &:hover {
    .btn__link:before {
      transform: translate(10px, -50%);
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include mobile {
      flex-direction: column;
    }
  }

  &__link {
    @include fill();
    z-index: 1;
  }

  &__right {
    position: relative;
    flex: 1 1 600px;
    max-width: 600px;
    height: 400px;
    @include mobile {
      flex: 1 1 auto;
      max-width: 100%;
      height: auto;
      margin-top: 20px;

      &:before {
        display: block;
        content: '';
        padding-bottom: 66.67%;
      }
    }
  }

  &__image {
    @include fill;
    background: $color-primary;

    &.loading {
      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        z-index: 10;
        display: block;
        width: 30px;
        height: 30px;
        border: 3px solid $color-white;
        border-top-color: transparent;
        border-radius: 50%;
        animation: loading .4s linear infinite;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__left {
    position: relative;
    flex: 1 1 410px;
    max-width: 410px;
    padding: 21px 0 0 50px;
    margin-right: 25px;
    @include tablet-and-mobile {
      padding: 21px 0 0 30px;
    }

    @include mobile {
      margin: 0 0 0 -20px;
      flex: 1 1 auto;
      position: static;
    }

    @include mobile480 {
      padding: 21px 0 0 20px;
    }

    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      background: $color-gray-40;
      z-index: -1;

      @include mobile {
        width: 60px;
        height: 60px;
        left: -20px;
      }
    }
  }

  &__description {
    @include fontGraphikRegular;
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: $color-gray-80;

    @include mobile480 {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__title {
    @include fontDrukWideMedium;
    display: block;
    max-width: 300px;
    margin-top: 8px;
    font-size: 34px;
    line-height: 40px;
    color: $color-green-dark-80;

    @include mobile480 {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__text {
    margin-top: 42px;
    font-size: 18px;
    line-height: 32px;
    color: $color-green-dark-80;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include mobile {
      margin-top: 10px;
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__btn {
    margin-top: 40px;
    padding-left: 30px;

    @include mobile {
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 4;
    }
  }
}
