.slider {
  position: relative;
  margin-right: -50px;
  @include tablet-and-mobile {
    margin-right: -20px;
  }
  @include mobile {
    margin-right: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column-reverse;
      margin-top: 30px;
    }
  }

  &__left {
    flex: 1 1 360px;
    max-width: 360px;
    width: 100%;
    padding-top: 82px;
    @include tablet-and-mobile {
      max-width: 300px;
    }
    @include mobile {
      padding-top: 45px;
    }
  }

  &__right {
    overflow: hidden;
    margin-right: 49px;

    @include mobile {
      flex: 1 1 auto;
      width: 100%;
      margin-right: 0;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: -10px;
      width: 300px;
      height: 440px;
      background: $color-gray-40;
      z-index: -1;

      @include mobile {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: $color-blue-dark-80;
    @include mobile {
      text-align: center;
    }
  }

  &__text {
    margin-top: 28px;
    @include section_text_18;

    @include mobile {
      text-align: center;
    }
  }

  &__item {
    position: relative;
    margin: 58px 0 0;
    width: 100%;
    height: 440px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mobile {
      height: auto;
      margin: 0;
    }
  }

  &__description {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &-inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: opacity ease 0.5s;
      position: absolute;
      top: 0;
      left: 0;

      &.active {
        position: relative;
        opacity: 1;
      }
    }
  }

  .swiper-container {
    width: 300px;
    position: static;
    overflow: visible;
    @include mobile {
      width: auto;
    }
  }


  .swiper-slide {
    transition: transform 0.7s linear;
    opacity: 1;
    @include mobile {
      opacity: 1;
    }
  }

  .swiper-button-disabled {
    display: none;
  }

  &-pagination {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: auto;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 0 -5px;
    @include mobile {
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
      position: relative;
      width: 30px;
      height: 2px;
      margin: 0 5px;
      background: $color-gray-100;
      transition: all 0.3s linear;
      cursor: pointer;

      @include tablet-and-mobile {
        cursor: default;
      }

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
      }

      &-active {
        background: $color-blue-dark-100;
      }
    }
  }

  &__next {
    position: absolute;
    top: 56%;
    right: 0;
    transform: translateY(-50%);
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgba(159, 166, 169, 0.3);
    }

    @include tablet-and-mobile {
      right: 10px;
    }

    @include mobile {
      right: -35px;
      top: 28%;
      cursor: default;
    }

    svg {
      width: 20px;
      height: 21px;
    }
  }

  &__prev {
    position: absolute;
    top: 56%;
    right: 360px;
    transform: translateY(-50%);
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgba(159, 166, 169, 0.3);
    }

    @include tablet-and-mobile {
      right: 350px;
    }
    @include mobile {
      right: auto;
      left: -35px;
      top: 28%;
      cursor: default;
    }

    svg {
      width: 20px;
      height: 21px;
      transform: scale(-1, -1);
    }
  }

}
