.brochures {
  margin-top: 56px;
  @include tablet-and-mobile {
    margin-right: -30px;
  }
  @include mobile {
    margin-right: -10px;
  }

  &__list {
    display: flex;
    margin: 0 -7px;
    flex-wrap: wrap;

    @include mobile480 {
      flex-wrap: nowrap;
      overflow-x: auto;
      @include hide-scrollbar;
    }

    &--block {
      flex-wrap: nowrap;
      overflow-y: auto;
      @include hide-scrollbar;

      @include tablet-and-mobile {
        margin: 0 0 0 -7px;
      }

      .brochures__card {
        flex: 0 0 274px;

        &-top {
          @include mobile {
            height: 384px;
          }
        }
      }
    }
  }

  &__card {
    position: relative;
    flex: 1 1 274px;
    max-width: 273px;
    width: 100%;
    padding: 0 7px;

    &:nth-child(-n+3) {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet-and-mobile {
      flex: 1 1 33%;
      max-width: 33%;
      margin-bottom: 0;
      &:nth-child(-n+3) {
        margin-bottom: 50px;
      }
    }
    @include mobile {
      flex: 0 0 274px;
      max-width: 274px;
      margin-bottom: 0;
      &:nth-child(-n+3) {
        margin-bottom: 0;
      }
    }


    &:hover {
      .brochures__card-top {
        &:before {
          opacity: 0.9;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    &--link {
      .brochures__card-top {
        border: 2px solid $color-blue-dark-100;
        background: $color-white;
        padding: 20px;
      }

      &:hover {
        .brochures__card-top {
          &:before, &:after {
            opacity: 0;
          }

          .btn__link:before {
            transform: translate(10px, -50%);
          }
        }
      }
    }


    &:hover:last-child {
      .brochures__card-top {
      }
    }

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &-top {
      position: relative;
      width: 100%;
      height: 384px;

      @include tablet-and-mobile {
        height: auto;
      }

      @include mobile480 {
        height: 384px;
      }

      img {
        width: 100%;
        height: 100%;
      }

      &:before {
        @include fill();
        content: '';
        background: $color-blue-dark-100;
        opacity: 0;
        transition: all 0.3s linear;
      }

      &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 60px;
        height: 60px;
        @include sprite('download');

        opacity: 0;
        transition: all 0.3s linear;
      }
    }

    &-bottom {
      //margin-top: 21px;
      margin-top: 11px;
    }

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 44px;
      color: $color-blue-dark-100;
    }

    &-more {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: $color-blue-dark-80;
    }

    &-btn {
      position: absolute;
      bottom: 20px;
      left: 50px;
    }
  }
}
