.characteristics {
  &__bottom {
    margin-top: 25px;
    padding-bottom: 10px;

    @include mobile {
      margin-top: 19px;
      padding-bottom: 7px;
    }

    button {
      width: 100%;
      &:before {
        height: 60px !important;
        @include mobile {
          height: 54px !important;
        }
      }
    }
  }
}
