.aircrafts-hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-end;

  &__background {
    @include fill();
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    max-width: 1020px;
    width: 100%;
    margin: 0 60px;
    @include desktopUp {
      margin: 0 auto;
    }
    @include tablet-and-mobile {
      margin: 0;
      padding: 0 40px;
    }
    @include mobile {
      padding: 0 20px;
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 80px;
  }

  &__top {
    display: flex;

    &-left {
      flex: 1 1 auto;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      margin-left: 140px;
    }
  }

  &__nav {
    display: flex;
    @include mobile {
      display: none;
    }

    &-item {
      margin-right: 40px;
      font-weight: 600;
      font-size: 20px;
      line-height: 44px;
      color: $color-white;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__btn {
    width: 159px;
    height: 50px;
    background: $color-white;
    border-radius: 2px;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: $color-blue-dark-80;
    transition: all 0.3s linear;
    @include mobile {
      display: none;
    }

    &:hover {
      color: $color-white;
      background: $color-blue-dark-80;
    }
  }

  &__bottom {
    .stats {
      margin: 100px 0 0;

      &-card {
        &__title, &__text {
          color: $color-white !important;
        }
      }

      @include tablet-and-mobile {
        margin: 60px 0 0;
        &__inner {
          justify-content: flex-start;
        }
      }
    }
  }

  &__title {
    @include fontDrukWideMedium;
    font-size: 70px;
    line-height: 70px;
    color: $color-white;

    @include mobile {
      font-size: 34px;
      line-height: 50px;
    }
  }


}
