.map {
  margin-top: 54px;

  &__image {
    position: relative;

    &:before {
      display: block;
      content: '';
      padding-bottom: 46%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
