.map {
  margin-top: 54px;
  display: flex;
  height: 500px;

  &__container {
    width: 100%;
    height: 100%;

    .ymaps-2-1-77-controls__control {
      top: 218px!important;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
