<div class="container container--small without-padding static">
  <h1>Fligth test of a new LA-8C</h1>

  <h2> On December 2017 obtained type certificates from the European Aviation Safety Agency (EASA) and the
    US-American
    Federal Aviation Administration (FAA) for the first ever Swiss business jet. Certification of the Super
    Versatile
    Jet prepares the ground for initial customer deliveries, which will see the business jet take off from Central
    Switzerland for its entry on the global market.</h2>

  <p>
    All three prototypes used in the certification program currently make a total of
    2,205
    flying hours around the world. Some flight tests were carried out under extreme conditions: in icing
    conditions
    and very high temperatures, at altitudes and speeds that were not usually met in daily operations.
  </p>
</div>
