<div class="news-single__image-with-content">
  {{>blocks/image-with-content
    ext="png"
    img="news/news-single/image-with-content"
    title="Other tests that include many components"
    text="Tests have included bird impacts, structural stress tests, noise tests and general function.  All this to prove that customers may depend on this aircraft to operate safely and reliably at all times, in line with statutory requirements."
  }}

  {{>blocks/image-with-content
    ext="png"
    img="news/news-single/image-with-content"
    reverse=true
    title="Our goals are to go forward, together with talented people"
    text="Provide freedom, fun and adventure to fly to all who dream about it, creating the most exciting, intuitive, safe and affordable personal aircraft in the world thanks to an unrivaled fusion of design and technology."
  }}
</div>

<i class="margin-54"></i>


