<div class="news-tablet">
  {{>blocks/news/single/components/tablet-row
    header=true
    number="Number"
    date-release="Date release"
    name="Name"
    bulletin="Bulletin"
    execution-status="Execution status"
    date-of-validity="Date of validity"
  }}

  {{>blocks/news/single/components/tablet-row
    number="GК.002.B-17"
    date-release="5/19/2017"
    name="Mandatory"
    bulletin="Service bulletin"
    execution-status="Unread"
    date-of-validity="5/19/2017"
  }}
  {{>blocks/news/single/components/tablet-row
    number="GК.001.B-17"
    date-release="4/16/2017"
    name="Recommendatory"
    bulletin="Service bulletin"
    execution-status="Read"
    date-of-validity="4/16/2017"
  }}
  {{>blocks/news/single/components/tablet-row
    number="GК.009.B-16"
    date-release="3/07/2017"
    name="Custom"
    bulletin="Service bulletin"
    execution-status="Applied"
    date-of-validity="3/07/2017"
  }}
  {{>blocks/news/single/components/tablet-row
    number="GК.008.B-16"
    date-release="2/18/2017"
    name="Recommendatory"
    bulletin="Service bulletin"
    execution-status="Read"
    date-of-validity="2/18/2017"
  }}
</div>

<i class="margin-60"></i>
