<div class="container container--small">
  <div class="news-single__text-wrapper">
    <p class="news-single__text">All three prototypes used in the certification program currently make a total of
      2,205
      flying hours around the world. Some flight tests were carried out under extreme conditions: in icing conditions
      and very high temperatures, at altitudes and speeds that were not usually met in daily operations.
    </p>
  </div>
</div>

<div class="accordion__wrapper">
  {{>blocks/factory/careers/components/vacancy-row
    header=true
    position="Position"
    departament="Departament"
    location="Location"
  }}
  <ul class="accordion accordion--news js-accords">
    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord" data-offset="0" data-offset-mobile="48">
        <div class="accordion__top">
          {{>blocks/factory/careers/components/vacancy-row
            bold=true
            position="Planner"
            departament="Operations/Production"
            location="Russia, Samara region"
          }}
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
              <div class="vacancy__description">
                <div class="news-block__wrapper">
                  {{#>blocks/news/single/components/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Devises, reviews and approves
                        repair dispositions and associated analyses.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair
                        is
                        structurally and functionally equivalent to the blueprint design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical
                        support;
                        including interpreting Engineering drawings, specifications, and other engineering definition
                        documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility
                        to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds”
                        minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord" data-offset="0" data-offset-mobile="48">
        <div class="accordion__top">
          {{>blocks/factory/careers/components/vacancy-row
            bold=true
            position="Manufacturing Engineer (2nd shift 3PM-11:30PM)"
            departament="Engineering"
            location="Russia, Moscow"
          }}
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
              <div class="vacancy__description">
                <div class="news-block__wrapper">
                  {{#>blocks/news/single/components/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Devises, reviews and approves
                        repair dispositions and associated analyses.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair
                        is
                        structurally and functionally equivalent to the blueprint design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical
                        support;
                        including interpreting Engineering drawings, specifications, and other engineering definition
                        documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility
                        to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds”
                        minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord" data-offset="0" data-offset-mobile="48">
        <div class="accordion__top">
          {{>blocks/factory/careers/components/vacancy-row
            bold=true
            position="Manager, Mechanical Systems Engineering"
            departament="Engineering"
            location="Russia, Samara"
          }}
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
              <div class="vacancy__description">
                <div class="news-block__wrapper">
                  {{#>blocks/news/single/components/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Devises, reviews and approves
                        repair dispositions and associated analyses.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair
                        is
                        structurally and functionally equivalent to the blueprint design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical
                        support;
                        including interpreting Engineering drawings, specifications, and other engineering definition
                        documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility
                        to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds”
                        minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord" data-offset="0" data-offset-mobile="48">
        <div class="accordion__top">
          {{>blocks/factory/careers/components/vacancy-row
            bold=true
            position="Liaison Engineer – Mechanical/Electrical"
            departament="Engineering"
            location="Russia, Samara"
          }}
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
              <div class="vacancy__description">
                <div class="news-block__wrapper">
                  {{#>blocks/news/single/components/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Devises, reviews and approves
                        repair dispositions and associated analyses.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair
                        is
                        structurally and functionally equivalent to the blueprint design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical
                        support;
                        including interpreting Engineering drawings, specifications, and other engineering definition
                        documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility
                        to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds”
                        minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord" data-offset="0" data-offset-mobile="48">
        <div class="accordion__top">
          {{>blocks/factory/careers/components/vacancy-row
            bold=true
            position="Contracts Administrator"
            departament="Sales"
            location="Russia, Moscow"
          }}
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
              <div class="vacancy__description">
                <div class="news-block__wrapper">
                  {{#>blocks/news/single/components/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Devises, reviews and approves
                        repair dispositions and associated analyses.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair
                        is
                        structurally and functionally equivalent to the blueprint design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical
                        support;
                        including interpreting Engineering drawings, specifications, and other engineering definition
                        documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility
                        to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds”
                        minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="accordion__item">
      <div class="accordion__item-wrapper js-accord" data-offset="0" data-offset-mobile="48">
        <div class="accordion__top">
          {{>blocks/factory/careers/components/vacancy-row
            bold=true
            position="In-Process Inspector"
            departament="Supply Chain"
            location="Russia, Samara"
          }}
          <div class="accordion__pointer">
          </div>
        </div>
        <div class="accordion__description">
          <div class="accordion__description-wrapper">
            <div class="accordion__description-container">
              <div class="vacancy__description">
                <div class="news-block__wrapper">
                  {{#>blocks/news/single/components/news-block title="Role:"}}
                    <p class="section__text section__text--small">We strive to win talented young people for our
                      company! Our extensive training programs will provide you with a deep understanding of the
                      aviation industry. Join our strong team and help us in our mission to shape the future.
                    </p>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Primary Areas of Responsibility:"}}
                    <ol class="list list--disc">
                      <li class="list__item"><span class="list__item-pointer"></span>Devises, reviews and approves
                        repair dispositions and associated analyses.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Ensures that the proposed repair
                        is
                        structurally and functionally equivalent to the blueprint design.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Provides on site technical
                        support;
                        including interpreting Engineering drawings, specifications, and other engineering definition
                        documentation.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Assists in determining if
                        non-conformances are the result of design definition or workmanship issues
                        and documents findings.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Initiates design and process
                        changes to correct design errors that resolve complex, chronic
                        manufacturing problems and ultimately improve produce-ability of the aircraft.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Reviews non-conforming structural
                        conditions and provides disposition for non-conformance reports
                        from production.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Participates in corrective action
                        board reviews to provide input / data to support corrective action
                        identification and implementation.
                      <li class="list__item"><span class="list__item-pointer"></span>Provide robust coverage &
                        assistance to production operations to ensure that issues related to
                        production and assembly are expeditiously resolved and production rate schedules are met.
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Candidate must have flexibility
                        to
                        provide coverage to production operations based on off-shift
                        hours.
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                  {{#>blocks/news/single/components/news-block title="Success Indicators:"}}
                    <ol class="list list--decimal">
                      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past
                        problems (indicates MRB actions and associated root cause support
                        and determination has been effective.)
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly
                        documented, traceable, and defendable (including any supporting
                        analyses).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds”
                        minimized,
                        but not at the expense of correct repairs and supporting
                        analyses (i.e. product integrity must be maintained with evidence).
                      </li>
                      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report
                        (NCR) backlog
                      </li>
                    </ol>
                  {{/blocks/news/single/components/news-block}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<i class="margin-60"></i>

<div class="container container--small">
  <p class="news-single__text news-single__text--small">We strive to win talented young people for our company! Our
    extensive training programs
    will provide you with <span class="line-through">a deep understanding</span> of the <span class="underline">aviation industry.</span> <i>Join our strong team and help</i> us in <b>our
    mission to</b> shape the future.</p>
  <p class="news-single__text news-single__text--small">
    Reduction of <a href="#">recurrence</a> of past problems (indicates MRB actions and associated root cause support and
    determination has been effective.) All dispositions correctly documented, traceable, and defendable (including any
    supporting analyses).
  </p>
  <p class="news-single__text news-single__text--small">
    Production line “holds” minimized, but not at the expense of correct repairs and supporting analyses (i.e. product
    integrity must be maintained with evidence). Minimal non-conformance report (NCR) backlog
  </p>
</div>

<i class="margin-60"></i>
