<p> Invested over 500 million Swiss francs of own funds in the development programme. A
  further 150 million francs went into buildings and state-of-the-art production machinery at Stans in order to
  expand our series production capacity in parallel.
</p>

{{>blocks/image-fit ext='png' img="news/news-single/news_1"}}
