<div class="container container--small">
  {{#>blocks/news/single/components/news-block title="Query subject:"}}
    <p class="news-single__text news-single__text--small"> We strive to win talented young people for our company! Our
      extensive training
      programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
      in our mission to shape the future.
    </p>
  {{/blocks/news/single/components/news-block}}
  {{#>blocks/news/single/components/news-block title="Basic Actions:"}}
    <ol class="list list--decimal">
      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past problems
        (indicates MRB actions and associated root cause
        support and determination has been effective.)
      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly documented, traceable,
        and defendable (including any
        supporting analyses).
      </li>
      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized, but not at the
        expense of correct repairs and
        supporting analyses (i.e. product integrity must be maintained with evidence).
      </li>
      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report (NCR) backlog</li>
      </li>
    </ol>
  {{/blocks/news/single/components/news-block}}
  {{#>blocks/news/single/components/news-block title="Basic Actions:"}}
    <ul class="list list--disc">
      <li class="list__item"><span class="list__item-pointer"></span>Reduction of recurrence of past problems
        (indicates MRB actions and associated root cause
        support and determination has been effective.)
      <li class="list__item"><span class="list__item-pointer"></span>All dispositions correctly documented, traceable,
        and defendable (including any
        supporting analyses).
      </li>
      <li class="list__item"><span class="list__item-pointer"></span>Production line “holds” minimized, but not at the
        expense of correct repairs and
        supporting analyses (i.e. product integrity must be maintained with evidence).
      </li>
      <li class="list__item"><span class="list__item-pointer"></span>Minimal non-conformance report (NCR) backlog</li>
      </li>
    </ul>
  {{/blocks/news/single/components/news-block}}

  <i class="margin-50"></i>
</div>
