<div class="container container--small">
  <div class="news-single__text-wrapper">
    <p class="news-single__text news-single__text--small"> We strive to win talented young people for our company! Our
      extensive training
      programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
      in our mission to shape the future.
    </p>
  </div>
  {{>blocks/image-fit ext='png' img="news/news-single/news-1"}}
  <div class="news-single__text-wrapper">
    <p class="news-single__text news-single__text--small"> We strive to win talented young people for our company! Our
      extensive training
      programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
      in our mission to shape the future.
    </p>
  </div>
  {{>blocks/image-fit ext='png' img="news/news-single/news-1"}}

  <p class="news-single__text news-single__text--small"> We strive to win talented young people for our company! Our
    extensive training
    programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
    in our mission to shape the future.
  </p>
</div>
