<blockquote>
  <p>
    The first business aircraft. Naturally, the requirements associated with obtaining certification for this type
    of aircraft are extremely strict, and I hardly need to mention that we have not encountered any problems in the
    development.
  </p>
</blockquote>
