<h4>Query subject:</h4>
<p class="small">We strive to win talented young people for our company! Our
  extensive training
  programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
  in our mission to shape the future.</p>

<h4>Basic Actions:</h4>
<ol>
  <li><span></span>Reduction of recurrence of past problems
    (indicates MRB actions and associated root cause
    support and determination has been effective.)
  </li>
  <li><span></span>All dispositions correctly documented, traceable,
    and defendable (including any
    supporting analyses).
  </li>
  <li><span></span>Production line “holds” minimized, but not at the
    expense of correct repairs and
    supporting analyses (i.e. product integrity must be maintained with evidence).
  </li>
  <li><span></span>Minimal non-conformance report (NCR) backlog</li>
</ol>

<h4>Basic Actions:</h4>
<ul>
  <li><span></span>Reduction of recurrence of past problems
    (indicates MRB actions and associated root cause
    support and determination has been effective.)
  </li>
  <li><span></span>All dispositions correctly documented, traceable,
    and defendable (including any
    supporting analyses).
  </li>
  <li><span></span>Production line “holds” minimized, but not at the
    expense of correct repairs and
    supporting analyses (i.e. product integrity must be maintained with evidence).
  </li>
  <li><span></span>Minimal non-conformance report (NCR) backlog</li>
</ul>
