<p class="small"> We strive to win talented young people for our company! Our
  extensive training
  programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
  in our mission to shape the future.
</p>

<div class="news-single__slider">
  <div class="swiper-container gallery-slider js-gallery-slider">
    <div class="swiper-wrapper">
      {{#times 5}}
        <div class="swiper-slide gallery-slide">
          {{>components/image ext="png" img="news/news-single/news_2"}}
        </div>
      {{/times}}
    </div>
    <button class="gallery-slider__next"></button>
    <button class="gallery-slider__prev"></button>
    <div class="gallery-slider__pagination"></div>
  </div>
</div>

<p class="small"> We strive to win talented young people for our company! Our
  extensive training
  programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
  in our mission to shape the future.
</p>

<i class="margin-50"></i>

<div class="news-single__video">
  {{>blocks/video-block video="https://www.youtube.com/embed/n8fnn_2B788" img="news/news-single/news_3" ext="png"}}
</div>

<p class="small"> We strive to win talented young people for our company! Our
  extensive training
  programs will provide you with a deep understanding of the aviation industry. Join our strong team and help us
  in our mission to shape the future.
</p>
