.vacancy {

  &__description {
    max-width: 840px;
    padding: 0 60px;

    @include tablet-and-mobile {
      padding: 0 30px;
    }
    @include mobile {
      padding: 0 10px;
    }
  }

  &__col {
    background: transparent;
    flex: 1 1 1px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-gray-90;
    transition: all 0.3s linear;

    &:first-child {
      flex: 1 1 460px;
      max-width: 460px;
    }

    &:nth-child(2) {
      flex: 1 1 240px;
      max-width: 240px;
    }

    &--bold {
      font-size: 18px;
      color: $color-blue-dark-80;
    }
  }
  &__row {
    display: flex;
    background: transparent;
    width: 100%;
    @include mobile {
      display: block;
    }

    &--header {
      padding: 26px 20px;
      background: $color-gray-40;

      @include mobile {
        display: none;
      }
      .vacancy__col {
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: $color-blue-dark-80;
      }
    }
  }
}
