.gallery-card {
  position: relative;

  @include desktop {
    margin-top: 170px;
  }
  @media (max-width: 1440px) and (min-width: 1280px) {
    margin-top: 11.8vw;
  }
  @include tablet-and-mobile {
    margin-top: 70px;
  }
  @include smallTablet-and-mobile {
    display: flex;
    justify-content: center;
  }
  @include mobile {
    margin-top: 40px;
  }

  &:hover {
    .btn__link:before {
      transform: translate(10px, -50%);
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &__link {
    @include fill();
    z-index: 1;
  }

  &__inner {
    position: relative;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;

    @include big-tablet {
      display: block;
    }
    @include smallTablet-and-mobile {
      margin: 0;
      max-width: 708px;
      width: 100%;
    }
    @include mobile {
      display: block;
      max-width: 100%;
    }
  }

  &__description {
    position: relative;
    width: 180px;
    height: 380px;
    background: $color-gray-40;

    @include big-tablet {
      max-width: 720px;
      width: 50vw;
      height: auto;
      margin: 0 auto;
    }
    @include smallTablet-and-mobile {
      height: 340px;
    }
    @include mobile {
      width: 100%;
      height: auto;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 180px;
      width: 380px;
      padding: 34px 37px;

      @media (max-width: 1300px) and (min-width: 1260px) {
        padding: 34px 37px 40px;
      }

      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%) rotate(-90deg);
      transform-origin: 0 0;

      @include big-tablet {
        position: static;
        transform: translateY(0) rotate(0deg);
      }
      @include smallTablet-and-mobile {
        padding: 34px 37px 50px;
        width: 340px;
      }
      @include mobile {
        position: static;
        transform: translateY(0) rotate(0);
        padding: 20px;
        height: auto;
      }
    }
  }

  &__category {
    display: block;
    @include section_caption;
  }

  &__title {
    display: block;
    margin-top: 5px;
    @include section_title;
  }

  &__substrate {
    max-height: 380px;
    width: 180px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include big-tablet {
      max-width: 720px;
      width: 50vw;
      max-height: 420px;
      position: relative;

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: 66.66%;
      }

      img {
        @include fill();
      }
    }
    @include smallTablet-and-mobile {
      display: none;
    }
  }

  &__top-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 720px;
    width: 50vw;

    .image-fit {
      margin-bottom: 0 !important;

      @include mobile {
        max-height: 340px;
      }

      &:before {
        @include smallTablet-and-mobile {
          padding-bottom: 340px;
        }
        @include mobile {
          padding-bottom: 60.2%;
        }
      }
    }

    @include desktop {
      cursor: pointer;
    }
    @include big-tablet {
      left: 67%;
      top: 180px;
      transform: translate(-50%, 0);
    }
    @include smallTablet-and-mobile {
      position: static;
      max-width: 100%;
      width: 100%;
      transform: translate(0, 0);

      img {
        max-height: 340px;
      }
    }
  }

  &__btn {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 1300px) and (min-width: 1260px) {
      right: 130px;
    }

    @include tablet-and-mobile {
      top: 70%;
      right: 65%;
    }
    @media (max-width: 1023px) {
      top: 85%;
      right: 40px;
    }
    @include mobile {
      top: 90%;
      right: 20px;
    }
  }
}
