.gallery-section {
  margin-top: 100px;

  @include tablet-and-mobile {
    margin-top: 50px;
  }

  &:first-child {
    margin-top: 0;
  }

  &__top {
    @include mobile320 {
      h2 {
        font-size: 30px;
        line-height: 36px;
      }
    }
  }

  &__description{
    margin-top: 45px;
    max-width: 720px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: $color-gray-80;

    @include tablet-and-mobile {
      margin-top: 20px;
    }
  }

  &__bottom {
    margin-top: 25px;
  }
}
